.background {
	background: var(--bg);
	color: var(--color);
}

.green {
	background: var(--green);
	color: var(--green-dark);
	border-color: var(--green);
}

.purple {
	background: var(--purple);
	color: #FFF;
	border-color: var(--purple);
}

.red {
	--primary: #FFEFC0;
	color: #FFF;
	background: var(--red);
	border-color: var(--red);
}

.blue {
	--primary: #55008B;
	color: #000;
	background: var(--blue);
	border-color: var(--blue);
}

.yellow {
	--primary: #7400BE;
	color: #000;
	background: var(--yellow);
	border-color: var(--yellow);
	::selection {
		background: var(--red);
		color: #FFF;
	}
}

.razzmatazz {
	color: #FFF;
	background: var(--razzmatazz);
	border-color: var(--razzmatazz);
}

.xpub {
	color: #FFF;
	background: radial-gradient(circle, hsl(210 98% 19.6%) 0%, hsl(251 47.6% 38.8%) 50%, hsl(300 47.6% 38.8%) 100%);
	a {
		color: var(--razzmatazz);
	}
}

.it {
	color: #1E2B6A;
	background: linear-gradient(90deg, #008C45 0%, #FFF 37%, #FFF 63%, #CD212A 100%);
}

.border {
	color: var(--color);
	background: var(--bg);
	border-style: solid;
	border-width: .5rem;
}
