# Node stuff
node_modules
package-lock.json

# Eleventy stuff
.env
www

# heavy assets
assets

# Imported from Obsidian
content/jam/Clippings

# University stuff
content/jam/AISS

# temporarily removed content
removed
