# Node stuff
node_modules
package-lock.json

# Eleventy stuff
.env
www

# heavy assets
assets

# Imported from Omnivore
content/jam/Omnivore

# University stuff
content/jam/AISS

# temporarily removed content
removed
