# Eleventy stuff
node_modules
dist
.env
cache
.cache
www

# Local Netlify folder
.netlify

# University notes
content/notes/PISE

# Private content
*/copyrighted-content
*/*/copyrighted-content
private
*/private
*/*/private
