.wavyBackgroundRed {
	background: center / 100% 100% url("data:image/svg+xml;utf8,<svg width='1440' height='360' preserveAspectRatio='none' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='m221 6c162-9 176 48 266 46 69-1 103-36 202-43 146-13 269 105 423 75 82-19 118-86 209-68 109 22 116 126 113 178-5 82-62 155-161 159-159 6-187-32-338-40-113-3-171 34-283 35-69 0.6-199-20-299-20-102 0.09-209 43-305 21-71-20-51-166 38-206 65-29 26-131 136-137z' fill='%23D00'/></svg>");
}

.wavyBackgroundRazzmatazz {
	background: center / 100% 100% url('/wavyBackgroundRazzmatazz.svg');
}

.wavyBackgroundPurple {
	background: center / 100% 100% url('/wavyBackgroundPurple.svg');
}

.wavyBackgroundGreen {
	color: #000;
	text-shadow: none;
	background: center / 100% 100% url('/wavyBackgroundGreen.svg');
}

.wavyBackgroundXPUB {
	color: #FFF;
	background: center / 100% 100% url('/wavyBackgroundXPUB.svg');
}
