@use '../variables' as *;

footer {
	--primary: var(--yellow);
	padding: var(--space-l) var(--space-s);
	color: #EEE;
	background: #000;
	align-items: flex-start !important;
	p {
		font-size: var(--size--1);
		margin-left: var(--space-s);
		line-height: 1.2;
	}
	.h-card,
	#labels {
		margin-top: 1em;
		max-width: 15rem;
	}
	.footer-text {
		max-width: 68ch;
	}
}

#Fediverse {
	line-height: 100%;
	background: var(--yellow);
	color: #000;
}

#Matrix {
	background: #000;
}

#Telegram {
	background: linear-gradient(#1D93D2, #38B0E3);
}

#Signal {
	background: #3B45FD;
}

#feedBtn {
	color: #FFF;
	background: linear-gradient(-18deg, #E3702DFF 0%, #EA7D31FF 11%, #F69537FF 35%, #fB9E3AFF 50%, #EA7C31ff 70%, #DE642BFF 89%, #D95B29FF 100%);
	svg {
		height: var(--space-s);
		width: auto;
	}
}

#labels {
	justify-content: start;
	a {
		border: outset 3px var(--background);
		&:hover {
			border: inset 3px var(--background);
		}
	}
}

#madeby {
	--background: #FFF;
	background: var(--background);
}

#html-energy {
	--background: #222;
	background: var(--background);
	color: #FFF;
	padding: 0 var(--space-2xs);
	font: var(--size--1) var(--font-serif);
	gap: 0;
	img {
		height: var(--size-1);
		width: auto;
	}
}

#eleventy {

}
