@use '../variables' as *;

header {
	position: sticky;
	top: 0;
	padding: var(--space-m) var(--space-m) 0 var(--space-m);
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: 800;
}

#navToggle,
#navToggleBtn {
	display: none;
}

#tommi {
	padding: var(--space-2xs);
	font: var(--size-1) var(--font-heading);
	color: #FFF;
	text-transform: initial;
	&:hover,
	&:focus {
		transform: matrix(6, 0, 0, 6, 0, 350) rotate(78deg);
	}
}

#mainNav {
	display: flex;
	padding: var(--space-2xs) var(--space-m);
	height: min-content;
	background: var(--bg);
	box-shadow: var(--shadow);
	border-radius: $radius-l;
	font-size: var(--size-0);
	align-items: center;
	gap: var(--space-s);
	a {
		color: var(--color);
		&:hover,
		&:focus{
			transform: scale(1.5) rotate(3deg);
		}
		&:active {
			opacity: .6;
		}
	}
}

@media (max-width: 950px) {
	header {
		justify-content: center;
	}
	#navToggleBtn {
		display: block;
	}
	#mainNav {
		font-size: var(--size-1);
		position: fixed;
		bottom: calc(3vh + 4.5rem);
		right: -15rem;
		align-items: end;
		flex-direction: column;
	}
}

#navToggle:checked {
	& ~ #mainNav {
		right: calc(4vw + .3rem);
	}
}
