@use '../variables' as *;

#landing {
	overflow-x: hidden;
	height: calc(100vh + var(--space-l));
	h1 {
		padding: var(--space-l);
	}
}

@media (prefers-reduced-motion: no-preference) {
	#landing h1 {
		animation: font-animation 4s infinite;
	}
}

@keyframes font-animation {
	0% {
		font-feature-settings: 'ss01';
	}
	20% {
		font-feature-settings: 'ss02';
	}
	40% {
		font-feature-settings: 'ss03';
	}
	60% {
		font-feature-settings: 'ss04';
	}
	80% {
		font-feature-settings: 'ss05';
	}
	100% {
		font-feature-settings: 'ss01';
	}
}
