.pagefind-ui {
	--pagefind-ui-primary: var(--primary);
	--pagefind-ui-text: var(--color);
	--pagefind-ui-background: var(--bg);
	--pagefind-ui-border: var(--color);
	--pagefind-ui-tag: var(--secondary);
}

