---
title: Everyone — Love Awakens
date: 2019-08-30
ref: Everyone
lang: it
permalink: /it/everyone/
image: /assets/everyone.webp
description: Un assonnato stanco dolce coccoloso cortometraggio che sbadiglia 🥱, sull’amore e sulle nonne e sui cuscini e sul pigiama e… 😴
layout: ~
stylesheet: /everyone.css
sitemap:
  changefreq: never
---
<!DOCTYPE html>
<html lang='it'>
<head>
	{% render 'head.liquid', latex: latex, date: date, updated: updated, title: title, description: description, primary: primary, lang: lang, alternate: alternate, accounts: accounts, site: site, url: page.url, layout: layout, isNote: isNote, isPost: isPost, tommi: tommi, image: image, stylesheet: stylesheet, head: head %}
</head>

<body>
<main>
<article class='middle'>
	<h1>Everyone</h1>
	<h2>Love awakens</h2>
	<p>Ho voluto fingermi regista e ho combinato un pasticcio: questo corto. Mi è venuta in mente la storia di uno che ama alla follia il proprio pigiama e non lo toglierebbe per nulla al mondo, tipo me. L’ho scritta e poi ho assolutamente voluto girarla.
		<br>Dopo lunghi mesi di duro lavoro e casini incredibili in cui ho rotto le scatole a ogni singola persona nella mia famiglia, nel mio liceo e fra i miei amici, contemporaneamente alla preparazione della maturità, è venuto fuori <cite>Everyone</cite>.</p>
</article>

<article class='wide'>
	<div class='embed'>
		<iframe src='https://player.vimeo.com/video/357217491' width='1200' height='675' allow='autoplay; fullscreen' allowfullscreen></iframe>
	</div>
</article>

<article class='wide subgrid box'>
	<figure class='half'>
		<img src='/assets/2019-08-30-squali-consapevoli.jpg' alt='Un fotogramma della scena finale del cortometraggio'>
	</figure>
	<div class='half vertical flex'>
		<h2>Alcuni pensieri (aka film mentali)</h2>
		<p>A fare un film vero non sono così capace, come avete visto. Perciò non ho saputo resistere e ho scritto tutti i miei crucci per cercare di capire cosa ci fa battere il cuore.</p>
		<a class='written button' href='/squali-consapevoli/' target='_blank'>leggi</a>
	</div>
</article>

<article class='wide'>
	<div class='embed'>
		<iframe src='https://player.vimeo.com/video/357913891' width='1200' height='675' allow='autoplay; fullscreen' allowfullscreen></iframe>
	</div>
</article>

<article class='wide subgrid box'>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223011106-ca41fa0f-me.jpg' alt='Una foto di una ragazza che indossa la maglietta di everyone'>
	</figure>
	<div class='one-third vertical flex'>
		<h2>Magliette di Everyone</h2>
		<p>Stilose ababstanza per essere usate tutti i giorni, ma contemporaneamente abbastanza comode da poter essere usate come pigiama, ovviamente.</p>
		<a href='mailto:{{ site.author.email | obfuscateEmail }}?subject=Acquisto-maglietta-everyone' target='_blank' class='button'>Ordina ora</a>
	</div>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223011209-96cd10db-me.jpg' alt='Una foto di una ragazza che dorme indossando la maglietta di Everyone'>
	</figure>
</article>

<article id='celeb' class='wide subgrid'>
	<h2 class='middle'>Persone famose che mi hanno sopportato mentre provavo a spiegargli in trenta secondi la trama di Everyone:</h2>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223010235-007ff83f-me.jpg' alt='Una foto di Luca Bizzarri con la maglietta di Everyone'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223005206-e62bb430-me.jpg' alt='Una foto di Guido Catalano con la maglietta di Everyone'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223004950-bf55422b-me.jpg' alt='Una foto di Mario Calabresi con la maglietta di Everyone'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223004254-59a14b68-me.jpg' alt='Una foto di Alessandro Baricco con la maglietta di Everyone'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223004316-305b8fc6-me.jpg' alt='Una foto di Beppe Severgnini holdin Everyone’s shirt'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223005224-e338de1f-me.jpg' alt='Una foto di Massimo Giletti con la maglietta di Everyone'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223004309-7300552d-me.jpg' alt='Una foto di Walter Veltroni con la maglietta di Everyone'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223005308-3c1bf9a3-me.jpg' alt='Una foto di Piergiorgio Odifreddi con la maglietta di Everyone'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223010139-1587b3c9-me.jpg' alt='Una foto di Amleto De Silva holdin Everyone’s shirt'>
	</figure>
</article>

<figure class='middle'>
	<img src='/assets/everyone-on-set.jpg' alt='a shot of the crew on set'>
</figure>

<article id='imdb' class='box wide subgrid'>
	<figure class='half'>
		<img src='/assets/everyone-imdb.webp' alt='Everyone artwork'>
	</figure>
	<div class='half vertical flex'>
		<h2>Non siamo gente seria, ma fingiamo di esserlo</h2>
		<p>Everyone ha una pagina su IMDb, dove si trova la lista completa del cast e della troupe. Date un’occhiata</p>
			<a href='https://imdb.com/title/tt10851718' title='Everyone su IMDb' class='written button'>Pagina IMDb</a>
	</div>
</article>
<div class='wide flex'>
	<a href='/tuffo/' class='button'>Torna alla home</a>
</div>
</main>
<footer>
	<p class='center middle'>Il cortometraggio <cite>Everyone</cite> e tutti i contenuti presenti in questa pagina sono protetti dalla licenza <a rel='license' href='https://creativecommons.org/licenses/by-sa/4.0/deed.it'>Creative Commons <strong>Attribution-ShareAlike</strong> 4.0 International</a>.</p>
</footer>
</body>
</html>
