---
title: Everyone — Love Awakens
date: 2019-08-30
ref: Everyone
lang: en
description: A sleepy cozy tired snoring lovely short movie 🥱 about love and pillows and grandmas and pajamas and… 😴
image: /assets/everyone.webp
layout: ~
stylesheet: /everyone.css
sitemap:
  changefreq: never
---
<!DOCTYPE html>
<html lang='en'>
	{{ include 'head.vto' }}
<body>

<main>
<article class='middle'>
	<hgroup>
		<h1>Everyone</h1>
		<h2>Love awakens</h2>
	</hgroup>
	<p>I had this story stuck in my head, and the only way to get it out was to tell it. So I wrote a short-movie about it. Somehow, I found a way to produce it, and, eventually, in 2019 I filmed it. It took several long, long months of hard work whith my friends, who where kind and crazy enough to trust and follow me in this adventure.<br>
		I actually am someone who won’t take off his pajama no matter what. Filming <cite>Everyone</cite> made me think Everyone should wake up—and love.</p>
</article>

<article class='wide'>
	<div class='embed'>
		<iframe src='https://player.vimeo.com/video/357217491' width='1200' height='675' allow='autoplay; fullscreen' allowfullscreen></iframe>
	</div>
</article>

<article class='wide subgrid box'>
	<figure class='half'>
		<img src='/assets/2019-08-30-squali-consapevoli.jpg' alt='a snaphot of of the final frames of the movie'>
	</figure>
	<div class='half vertical flex'>
		<h2>Some thoughts from the director</h2>
		<p>Tommi wrote something on what he feels about the movie and about what he thinks it means to everyone.</p>
		<a href='/squali-consapevoli/' class='button'>Read</a>
	</div>
</article>

<article class='wide' id='themakingof'>
	<div class='embed'>
		<iframe src='https://player.vimeo.com/video/357913891' width='1200' height='675' allow='autoplay; fullscreen' allowfullscreen></iframe>
	</div>
</article>

<article class='wide subgrid box'>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223011106-ca41fa0f-me.jpg' alt='A photo of a girl wearing the Everyone shirt'>
	</figure>
	<div class='one-third vertical flex'>
		<h2>Everyone shirt</h2>
		<p>Tommi wrote something on what he feels about the movie and about what he thinks it means to everyone.</p>
		<a href='mailto:{{ site.author.email |> obfuscateEmail }}?subject=PURCHASE-EVERYONE-SHIRT' target='_blank' class='button'>Order Now</a>
	</div>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223011209-96cd10db-me.jpg' alt='A photo of a girl sleeping while wearing the Everyone shirt'>
	</figure>
</article>

<article id='celeb' class='wide subgrid'>
	<h2 class='middle'>Famous people kind enough to listen to me while I was trying to tell them Everyone plot in few seconds</h2>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223010235-007ff83f-me.jpg' alt='A photo of Luca Bizzarri holding the shirt with the “I am Everyone” writing'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223005206-e62bb430-me.jpg' alt='A photo of Guido Catalano holding the shirt with the “I am Everyone” writing'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223004950-bf55422b-me.jpg' alt='A photo of Mario Calabresi holding the shirt with the “I am Everyone” writing'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223004254-59a14b68-me.jpg' alt='A photo of Alessandro Baricco holding the shirt with the “I am Everyone” writing'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223004316-305b8fc6-me.jpg' alt='A photo of Beppe Severgnini holding the shirt with the “I am Everyone” writing'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223005224-e338de1f-me.jpg' alt='A photo of Massimo Giletti holding the shirt with the “I am Everyone” writing'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223004309-7300552d-me.jpg' alt='A photo of Walter Veltroni holding the shirt with the “I am Everyone” writing'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223005308-3c1bf9a3-me.jpg' alt='A photo of Piergiorgio Odifreddi holding the shirt with the “I am Everyone” writing'>
	</figure>
	<figure class='one-third'>
		<img src='https://images.tommi.space/i?/uploads/j/b/u/jbuqxznr00//2020/12/23/20201223010139-1587b3c9-me.jpg' alt='A photo of Amleto De Silva holdin Everyone’s shirt'>
	</figure>
</article>

<figure class='middle'>
	<img src='/assets/everyone-on-set.jpg' alt='a shot of the crew on set'>
</figure>

<article id='imdb' class='wide subgrid box'>
	<figure class='half'>
		<img src='/assets/everyone-imdb.webp' alt='Everyone poster'>
	</figure>
	<div class='half vertical flex'>
		<h2>We’re not serious, but we try to look so</h2>
		<p><cite>Everyone</cite> has its IMDb page, where you can find the complete list of the cast and crew and read some oddities about the production.<br>Check it out!</p>
		<a href='https://imdb.com/title/tt10851718' target='_blank' title='Everyone on IMDb' class='button'>IMDb Movie Page</a>
	</div>
</article>
<div class='wide flex'>
	<a href='/' class='button'>Go to home</a>
</div>
</main>
<footer>
	<p class='middle center'>The short movie <cite>Everyone</cite> and all the content displayed in this page are licensed under <a rel='license' href='https://creativecommons.org/licenses/by-sa/4.0'>Creative Commons <strong>Attribution-ShareAlike</strong> 4.0 International License</a>.</p>
</footer>
</body>
</html>
