---
title: Filosofia dell’Ingegneria
permalink: /filinge/
lang: it
ref: filosofia
primary: var(--green)
sitemap:
  changefreq: never
---
<main class='list'>
	<hgroup class='flex'>
		<h1 class='wavyBackgroundRed'>{{ title }}</h1>
	</hgroup>

	<p id='intro' class='box'>Nei primi mesi del 2020, ho seguito il corso di <a href='https://filinge.blogspot.com'>Filosofia dell’ingegneria</a> al Politecnico di Torino. A ogni studente è stato richiesto di scrivere un blog <a href='https://filinge.blogspot.com/search/label/ABC'>su un tema diverso per ciascuno</a>, il mio era <em><strong>valore</strong></em>.</p>

	<div class='entries-list subgrid'>
		{% for entry in collections.filinge %}
			<article class='one-third'>
				<div class='box' href='{{ entry.url }}'>
					<h2>{{ entry.data.title }}</h2>
					<p class='date'>{% if entry.data.location %}{{ entry.data.location }}, {% endif %}<time class='dt-published' datetime='{{ entry.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.liquid', date: entry.data.date %}</time></p>
					{% render 'entry-tags.liquid', tags: entry.data.tags, site: site, size: 'tiny' %}
				</div>
			</article>
		{% endfor %}
	</div>
</main>
