---
title: Tuffo in tommi.space
permalink: /tuffo/
redirect-from: [/it/home/]
lang: it
ref: home
eleventyImport:
  collections: ["posts", "jam", "poetry", "sconnesso"]
sitemap:
  priority: 0.9
---
<div class='row'>
	<div id='intro' class='one column center'>
		<p>Sei appena entrato in un confuso spazio fluttuante nello sterminato Universo del World Wide Web 🕸️. Questo luogo è 🚨 <strong>un perpetuo cantiere</strong> 🏗️ popolato da pensieri 💭, visioni 😵‍💫, domande ⁉️, pseudo-risposte 🤔, pseudo-intuizioni 💡, pseudo-podcast 🎙️, contraddizioni 💢, rappresentazioni di caos 💥 e sconclusionati tentativi di riordinarlo.</p>
		<p>Benvenuto nella <u>rappresentazione virtuale della testa di Tommi</u>.</p>
		<p>Buon divertimento.</p>
	</div>
</div>

{% render 'about.html', lang: lang, site: site %}
{% render 'upcoming.liquid', lang: lang, giri: giri %}

<div class='row'>
	{% render 'quitsocialmedia.html', lang: lang %}
	{% render 'sconnesso.html', sconnesso: sconnesso, lang: lang %}
</div>

{% render 'latest-post.liquid', lang: lang, posts: collections.posts %}

<div class='row'>
	<div class='half column'>
		<section class='razzmatazz border box'>
			<a href='/jam'>
				{% img 'jam.webp', 'Un disegno dell’esplosione della testa di Tommi con una grande confusione che ne esce, il tutto rinchiuso in un vasetto di marmellata' %}
				<h2 class='title'>La Marmellata</h2>
			</a>
			<p>Ci sono cose che scopro e avrei voluto imparare prima, o cose che semplicemente non riesco a non condividere ma che non sono abbastanza corpose per comporre un articolo, o risorse così fighe e utili che tutto il mondo dovrebbe conoscerle e usarle, o cose interessanti che annoto ed è utile avere sempre a portata di mano (cioè online sul mio sito).</p>
			<p>Prendo tutte queste cose e, non avendo sufficiente tempo per elaborarle, le metto ne <cite><a href='/marmellata'>La Marmellata</a></cite>.</p>
			<div class='flex row'>
				<a class='razzmatazz written button' href='/marmellata'>Assaggia 🥄</a>
			</div>
		</section>
	</div>
	<div class='half column'>
		<section class='blue border box'>
			<a href='/cose'>
				{% img '/tommi-exploding.webp', 'Un disegno dell’esplosione della testa di Tommi con una grande confusione che ne esce' %}
				<h2>Cose in giro</h2>
			</a>
			<div style='margin:0 10%'>
				<p>Faccio tante, tante, troppe, cose.</p>
				<p>Un po' per ricordarmene e un po' come curriculum, le annoto qui. In <a href='/cose' title='Cose'><em>Cose</em></a> ci sono quelle principali, in <a href='/giri'><em>Giri</em></a> tengo traccia di tutti i miei giri e ciò a cui partecipo come spettatore, e in <a href='/tutto'><em>Tutto</em></a> c'è <strong>tutto</strong> il resto.</p>
			</div>
			<div class='flex row'>
				<a class='blue written button' href='/cose'>Parti da qui 🚀</a>
			</div>
		</section>
	</div>
</div>

<div class='row'>
	<section id='changelog' class='center'>
	<h2 class='title'>Ultime modifiche</h2>
		<div class='large grid'>
			{% assign recently_updated = collections.all | sort: 'updated' | reverse %}
			{% assign i = 0 %}
			{% for entry in recently_updated %}
				{% if entry.date and entry.data.date and i < 7 %}
					{% capture i %}{% increment counter %}{% endcapture %}
					<a href='{{ entry.url }}' hreflang='{{ entry.data.lang }}' lang='{{ entry.data.lang }}'>
						<div class='box'>
							<h4>{{ entry.data.title }}</h4>
							<p>{% if entry.data.location %}{{ entry.data.location }}, {% endif %}{% if entry.data.updated %}<time datetime='{{ entry.data.updated | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.liquid', date: entry.data.updated %}{% else %}<time class='dt-published' datetime='{{ entry.data.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.liquid', date: entry.data.date %}{% endif %}</time></p>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class='flex'>
			<a class='green button' href='{{ site.changelog }}' title='Modifiche al codice di tommi.space'>Modifiche al codice</a>
		</div>
	</section>
</div>

<div class='row'>
	<p class='one column center'>
		L’ultima volta in cui questo sito è stato generato è stata il <strong><time datetime='{{ 'now' | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ 'now' | date: '%d/%m/%Y alle %H:%M' }}</time></strong>.
	</p>
</div>
