---
title: Dive in tommi.space
lang: en
ref: home
permalink: /home/
eleventyImport:
  collections: ["zibaldone", "jam", "poetry", "sconnesso"]
sitemap:
  priority: 1.0
---
<div class='row'>
	<section id='intro' class='one column center'>
		<p>You just entered an overwhelming, mindblowing, and confused space inside the immense wonderland of the World Wide Web 🕸️. This place is 🚨 <strong>a perpetual work in progress</strong> 🏗️ populated by thoughts 💭, absurd visions 😵‍💫, silliness 🤡, hope 🌟, questions ⁉️, sort-of-answers 🤔, kinda-intuitions 💡, contraddictions 💢, disorderly attempts of reordering stuff 🎭, depictions of chaos 💥.</p>
		<p>Welcome to <u>the virtual representation of Tommi’s mind</u>.</p>
		<p>Have fun!</p>
	</section>
</div>

{% render 'about.html', lang: lang, site: site %}

<section id='meet' class='row'>
	<div class='center blue box'>
		<div class='row'>
			<div class='one column'>
				<h2 class='title'>Let’s meet!</h2>
				<p>I am always eager to meet new people, in particular when a virtual contact becomes an appointment in person. Currently I am based in <strong>{{ site.author.based }}</strong>, don’t hesitate to <a href='{{ site.author.meet }}' title='Schedule a meeting with Tommi'>schedule a meeting</a> if you are around!</p>
				{% render 'upcoming.liquid', lang: lang, tutto: tutto %}
			</div>
		</div>
	</div>
</section>

<div class='row'>
	{% render 'quitsocialmedia.html', lang: lang %}
	{% render 'sconnesso.html', sconnesso: sconnesso, lang: lang %}
</div>

{% render 'latest-post.liquid', lang: lang, posts: collections.zibaldone %}

<div class='row'>
	<div class='one column'>
		<section class='razzmatazz border box'>
			<a href='/jam' title='The Jam'>
				{% img "jam.webp", "a picture of Tommi’s head exploding with a great mess inside it" %}
				<h2 class='title'>The Jam</h2>
			</a>
			<p>There’s stuff I find out I wish I knew before, or stuff I just can’t keep from sharing but it’s not enough to make an article, or resources so great and useful that the whole world should know and use, or cool oddities I note and it’s nice to have them always ready at hand.</p>
			<p>I take this things, I throw them into <cite><a href='/jam' title='The Jam'>The Jam</a></cite>.</p>
			<p>I hope it can be useful to you.</p>
			<div class='flex row'>
				<a class='razzmatazz written button' href='/jam' title='The Jam'>Dive in 🥄</a>
			</div>
		</section>
	</div>
</div>

<div class='row'>
	<section id='changelog' class='center'>
	<h2 class='title'>Recently updated</h2>
		<div class='large grid'>
			{% assign recently_updated = collections.all | sort: 'updated' | reverse %}
			{% assign i = 0 %}
			{% for entry in recently_updated %}
				{% if entry.date and entry.data.date and i < 7 %}
					{% capture i %}{% increment counter %}{% endcapture %}
					<a href='{{ entry.url }}' hreflang='{{ entry.data.lang }}' lang='{{ entry.data.lang }}'>
						<div class='box'>
							<h4>{{ entry.data.title }}</h4>
							<p>{% if entry.data.location %}{{ entry.data.location }}, {% endif %}{% if entry.data.updated %}<time datetime='{{ entry.data.updated | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ entry.data.updated | date: '%-d %B %Y' }}{% else %}<time datetime='{{ entry.data.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ entry.data.date | date: '%-d %B %Y' }}{% endif %}</time></p>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class='flex'>
			<a class='green button' href='{{ site.changelog }}' title='tommi.space commits on giTMI'>code changelog</a>
		</div>
	</section>
</div>

