---
title: Info kit
description: Informazioni, biografia, immagini profilo e curriculum vitae di Tommaso Marmo.
updated: 2025-02-10T17:30+01:00
aliases:
  - Biografia
  - Press kit
permalink: /it/info/
redirect_from:
  - /it/info-kit/
  - /it/press-kit/
  - /it/bio/
  - /it/cv/
  - /chi-sono/
  - /biografia/
layout: sidebar.liquid
ref: infoKit
class: bio
image: https://tommi.space/profile.jpg
lang: it
include: |
  <figure>
    <img src=/assets/profile.webp alt='Tommi on stage conducting a live show' loading=eager>
  </figure>
---

<h1 class=just-print>Info kit di Tommaso Marmo</h1>

<p class=dont-print>Questa pagina è concepita per fornire testi e immagini più formali su Tommi, pronti per essere copiati e incollati.</p>

<div class='flex dont-print'>
	<button id=print class=button>Salva come PDF</button>
	<a class='yellow button' href='https://cv-it.tommi.space/' title='Curriculum vitæ di Tommaso Marmo'>Curriculum</a>
	<a class='blue button' href='https://images.tommi.space/index?/tags/445-profilepicture'>Foto profilo</a>
</div>

<h2>Biografia breve</h2>

{% renderFile 'cv/bio/it/bio-breve.md' %}

<h2>Biografia</h2>

{% renderFile 'cv/bio/it/bio.md' %}

<script>
	document.getElementById('print').addEventListener('click', () => {
		window.print();
	});
</script>
