---
title: Info kit
description: Tommaso Marmo’s information, biography, pictures, and resume.
updated: 2025-02-10T17:30+01:00
aliases:
  - Biography
  - Press kit
permalink: /info/
redirect_from:
  - /info-kit/
  - /press-kit/
  - /bio/
  - /cv/
  - /about/
  - /biography/
  - /resume/
layout: sidebar.liquid
ref: infoKit
class: bio
image: https://tommi.space/profile.jpg
include: |
  <figure>
    <img src=/assets/profile.webp alt='Tommi on stage conducting a live show' loading=eager>
  </figure>
---

<h1 class=just-print>Tommaso Marmo’s info kit</h1>

<p class=dont-print>This page collects information about Tommi.</p>
<p class=dont-print>This page is made to provide information, texts, and images about Tommi, ready to be copied and pasted.</p>

<div class=flex>
	<button id=print class=button>Save as PDF</button>
	<a class='yellow button' href='{{ site.author.cv }}' title='Tommaso Marmo’s curriculum vitae'>Resume</a>
	<a class='blue button' href='https://images.tommi.space/index?/tags/445-profilepicture'>Profile pics</a>
</div>

<h2>Short biography</h2>

{% renderFile 'cv/bio/en/bio-short.md' %}

<h2>Biography</h2>

{% renderFile 'cv/bio/en/bio.md' %}

<script>
	document.getElementById('print').addEventListener('click', () => {
		window.print();
	});
</script>
