---
title: Parole Sconnesse
redirect_from: [/parole-sconnesse/]
lang: it
layout: default.html
description: Parole Sconnesse è la mia pseudo-newsletter in cui, ogni tot, condivido idee, racconto vicessitudini relativamente interessanti e pubblico aggiornamenti sulle varie questioni a cui mi sto dedicando.
sitemap:
  changefreq: monthly
	priority: 0.6
---
<div class='row'><div class='one column'><div lang='en' class='yellow box'>
	<strong>For English speakers</strong>: as of right now, the newsletter is sent in Italian only. Please stay tuned <a href='/feeds' title='tommi.space feeds'>via RSS</a> since I may be starting a newsletter in English, too!
</div></div></div>

<div class='row'><div class='one column'><article>{% renderTemplate 'md' %}**<cite>Parole Sconnesse</cite>** è la mia pseudo-newsletter in cui, ogni tot, condivido idee, racconto vicessitudini relativamente interessanti e pubblico aggiornamenti sulle varie questioni a cui mi sto dedicando.

Se fossi così impavido da volerti iscrivere, basta compilare il modulo qui di seguito.  
Rock’n’roll!

<form method='post' action='https://newsletter.tommi.space/subscription/form' target='popupwindow' class='flex listmonk-form'>
  <input type='hidden' name='nonce'>
  <input type='email' name='email' required placeholder='scrivi qui la tua email'>
  <input type='text' style='display:none' name='name' placeholder='Nome (facoltativo)'>
  <label style='display:none'>
		Parole Sconnesse
  	<input style='display:none' type='checkbox' name='l' checked value='8ccad8ec-d1d3-425e-a8db-14fa3b2518e8'>
	</label>
  <input class='written button' type='submit' value='Iscriviti'>
</form>

Per i più nerd: come indicato nella [Privacy Policy](/it/privacy-policy 'Privacy Policy'), il mio servizio di newsletter utilizza [listmonk](https://listmonk.app 'listmonk official website') ed è interamente <em lang='en'>self-hosted</em> su [[Server|Xplosion Server]]. Ergo, io e solamente io sono in completo controllo dei dati degli iscritti, che <a href='https://gdpr-info.eu/art-17-gdpr' title='Art. 17 GDPR' hreflang='en'>hanno diritto</a> a chiedermi di eliminarlo quando lo desiderano.{% endrenderTemplate %}</div></div>

<h2 id='archive' class='center title'>Archivio</h2>

<div class='zibaldone flex row'>
	{% for entry in collections.newsletter reversed %}
		<div class='one-third'>
			<a class='box' href='{{ entry.url }}' hreflang='{{ entry.data.lang }}' lang='{{ entry.data.lang }}'>
				{% if entry.data.image != '/tommi.space.wip.png' %}<img src='{{ entry.data.image }}' alt='{{ entry.data.title }}' title='{{ entry.data.title }}'>{% endif %}
				<h2>{{ entry.data.title }}</h2>
				<p class='date'>{% if entry.data.location %}{{ entry.data.location }}, {% endif %}<time class='dt-published' datetime='{{ entry.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.html', date: entry.date %}<time></p>
				{% if entry.data.description %}
					<cite class='excerpt'>
						{{ entry.data.description | markdownify | strip_html }}
					</cite>
				{% endif %}
			</a>
		</div>
	{% endfor %}
</div>