---
title: Zibaldone
lang: it
ref: Zibaldone
description: Cose che vengono fuori dala testa di Tommi, in forma di articoli
type: CollectionPage
sitemap:
  priority: 0.8
  changefreq: monthly
eleventyImport:
  collections: ['posts']
---
<section class='center row'>
	<h1>{{ title }}</h1>
	<p class='one column'>Poco a che vedere con la saggezza e la serietà dell’omonimo leopardiano, qui un po’ più di allegria e stupidaggini.<br>
	Dall’enciclopedia Treccani, <a href='https://treccani.it/vocabolario/zibaldone/' target='_blank'>żibaldóne</a>: […] <cite class='serif'>Scartafaccio in cui si annotano, senza ordine e man mano che capitano, notizie, appunti, riflessioni, estratti di letture, schemi, abbozzi, ecc.</cite><br>
	Esattamente quello.</p>
</section>

<div class='row'>
	<div class='two-thirds column'>
		{% render 'tags.html', site: site %}
	</div>
	<div class='one-third column'>
		<section id='lang-filter' class='box'>
			<h3>
				{% if lang == 'it' -%}
					Filtra per lingua
				{% else -%}
					Filter by language
				{% endif -%}
			</h3>
			<div class='flex'>
				<label id='en-langFilterButton' for='langFilter-en' title='{% if lang == 'it' -%}Mostra solo i contenuti in inglese{% else %}Show only content in English{% endif -%}'>🇬🇧</label>&emsp;
				<label id='it-langFilterButton' for='langFilter-it' title='{% if lang == 'it' -%}Mostra solo i contenuti in italiano{% else %}Show only content in Italian{% endif -%}'>🇮🇹</label>&emsp;
				<label id='fr-langFilterButton' for='langFilter-fr' title='{% if lang == 'it' -%}Mostra solo i contenuti in francese{% else %}Show only content in French{% endif -%}'>🇫🇷</label>
			</div>
		</section>
	</div>
</div>
	
<div class='zibaldone flex row'>
	{% for entry in collections.posts %}
		<div class='one-third' lang='{{ entry.data.lang }}'>
			<a class='box' href='{{ entry.url }}' hreflang='{{ entry.data.lang }}'>
				{% img entry.data.image, entry.data.title %}
				<h2>{{ entry.data.title }}</h2>
				<p class='date'>{% if entry.data.location %}{{ entry.data.location }}, {% endif %}<time class='dt-published' datetime='{{ entry.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.liquid', date: entry.date %}</time></p>
				<cite class='excerpt'>
					{% if entry.data.description %}
						{{ entry.data.description | markdownify | strip_html }}
					{% comment %}#upstream #bug{% else %}
						{{ entry.content | strip_html | truncatewords: 30 }}{% endcomment %}
					{% endif %}
				</cite>
				{% render 'entry-tags.liquid', tags: entry.data.tags, site: site, size: 'tiny' %}
			</a>
		</div>
	{% endfor %}
</div>
