---
lang: it
description: Tutti i giri che ho fatto come spettatore e non come organizzatore, contrariamente al solito
redirect_from: ['/spettatore/', '/pubblico/', '/cose-spettatore/']
toc: false
todo:
  - 'cross-reference data with email and calendar'
---
<p>{{ description }}</p>
<ul>
	{% assign giri = giri | sort: 'end' | reverse %}
	{% for cosa in giri %}
		<li id='{{ cosa.title | slugify }}-{{ cosa.end | date: '%Y' }}'>
			{% if cosa.url %}
				<a href='{{ cosa.url }}' title='{{ cosa.title }}'>{{ cosa.title }}</a>
			{% else %}
				<strong>{{ cosa.title }}</strong>
			{% endif %}
			{% if cosa.start %}
				, {% render 'date-it.liquid', date: cosa.start %} ore {{ cosa.start | date: '%H:%M' }} – {% render 'date-it.liquid', date: cosa.end %} ore {{ cosa.end | date: '%H:%M' }}
			{% else %}
				, {% render 'date-it.liquid', date: cosa.end %}
			{% endif %}
			{% if cosa.coordinates %}
				, <a href='https://osm.org?mlat={{ cosa.coordinates[0] }}&mlon={{ cosa.coordinates[1] }}&zoom=18' title='{{ cosa.location }} su OpenStreetMap'>{{ cosa.location }}</a>
			{% elsif cosa.location == 'online' %}
			{% else %}
				, {{ cosa.location }}
			{% endif %}
			{% if cosa.jam %}
				<br>☞ {{ cosa.jam }}
			{% endif %}
			{% if cosa.tags != nil or cosa.aliases != nil %}
				<span class='mono dim'> ∙ {% for alias in cosa.aliases %} {{ alias }}{% endfor %}{% for tag in cosa.tags %} <span rel='tag'>{{ tag }}</span>{% endfor %}</span>
			{% endif %}
			{% if cosa.data %}
				<ul>{% for datum in cosa.data %}
					<li><a href='{{ datum.url }}' title='{{ datum.what }}'>{{ datum.what }}</a></li>
				{% endfor %}</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>

<br>
<br>

<h2>Tutto</h2>

Tengo traccia di tutto ciò a cui ho attivamente partecipato, invece, è in <a href='/tutto' title='Tutto - tommi.space'>Tutto</a>.