---
date: 2020-02-01
updated: 2024-04-13T22:21:50+02:00
tags: meta
permalink: /marmellata/
lang: it
ref: jam
toc: false
layout: page.html
image: /jam.webp
type: CollectionPage
---
<div class='row'><div class='one column'><article>
{% renderTemplate 'md' %}
Ci sono curiose scoperte e piccoli pensieri che voglio salvare prima che finiscano nel dimenticatoio, o nell’attesa che vengano riformulati in maniera migliore e raccontati nello <cite>[Zibaldone](/zibaldone)</cite>.

Prendo tutte queste cose e ne faccio <cite>La Marmellata</cite>.

## Cos’è <cite>La Marmellata</cite>?

La chiamano anche <q><a href='https://dev.to/jbranchaud/the-digital-garden-l10' hreflang='en' title='The Digital Garden su DEV.to'>giardino digitale</a></q>, o anche <q>sistema <cite><a lang='de' href='/zettelkasten' hreflang='en' title='Zettelkasten — tommi.space'>Zettelkasten</a></cite></q>. Per me si tratta di un esperimento molto meno altisonante e ambizioso, ma frullato e gustoso: è <cite>La Marmellata</cite>.

Da questa pagina è possibile partire per navigare all’interno de <cite>La Marmellata</cite>. Ci sono diversi modi per farlo:
- per tematica o argomento, scegliendo un tag
- partendo da una delle macro-note elencate di seguito e proseguendo verso altre note, sempre più ramificate.
{% endrenderTemplate %}
</article></div></div>

<div class='row'>
	<div class='two-thirds column'>
		{% render 'tags.html', site: site -%}
	</div>
	<div class='one-third column'>
		<div class='flex row'>
			{% render 'lang-filter.html', lang: lang -%}
		</div>
		<div class='flex row'>
			<a class='red button' href='/marmellata/tutta/' title='The Whole Jam'>Tutta <cite>La Marmellata</cite></a>
		</div>
	</div>
</div>

<div class='large grid'>
	{% for note in collections.jam %}
		{% if note.data.main %}
			<a class='box' href='{{ note.url }}' hreflang='{{ note.data.lang }}' title='{{ note.data.title }}'>
				<h3>{{ note.data.title }}</h3>
				<p>{{ note.data.description | markdownify | strip_html | truncatewords: 30 }}</p>
			</a>
		{% endif %}
	{% endfor %}
</div>
<div class='flex row'>
	<a class='red button' href='/marmellata/tutta/' title='The Whole Jam'>Tutta <cite>La Marmellata</cite></a>
</div>

<div class='yellow box'>
	La caratteristica fondamentale che rende la Marmellata efficace e così sorprendentemente potente è la connessione fra vari differenti pensieri. Per questo motivo, nello stesso vasetto che contiene questa marmellata esistono collegamenti a note che ho scelto di tenere private. Potrebbe accadere che alcuni di questi siano riportati in una nota pubblica; i link che portano a pagine private non funzioneranno, appariranno [[così]].
</div>
