---
date: 2020-02-01
updated: 2021-06-11T06:39:42+02:00
tags: meta
permalink: /marmellata/
lang: it
ref: jam
toc: false
layout: default.html
image: /jam.webp
type: CollectionPage
---
<div class='row'><div class='one column'><article>
{% renderTemplate 'md' %}
Sul web viene comunemente chiamato <cite lang='en'><a href='https://dev.to/jbranchaud/the-digital-garden-l10' hreflang='en' title='The Digital Garden su DEV.to'>Digital Garden</a></cite>, oppure può essere definito come <em>sistema <a lang='de' href='/zettelkasten' hreflang='en' title='Zettelkasten — tommi.space'>Zettelkasten</a></em>. La mia, invece, è molto neno altisonante, ma più frullata e gustosa: si tratta di una <cite>Marmellata</cite>.

Ci sono curiose scoperte e piccoli pensieri che voglio salvare prima che finiscano nel dimenticatoio, o nell’attesa che vengano riformulati in maniera migliore e raccontati ne Lo <cite>[Zibaldone](/zibaldone)</cite>.

Prendo tutte queste cose e ne faccio una <cite>Marmellata</cite>.

Da questa pagina è possibile partire per navigare all’interno della Marmellata. Ci sono diversi modi per farlo:
- per tematica o argomento, scegliendo un tag
- partendo da una delle macro-note elencate di seguito e proseguendo verso altre note sempre più ramificate.
{% endrenderTemplate %}
</article></div></div>

<div class='row'>
	<div class='two-thirds column'>
		{% render 'tags.html', site: site -%}
	</div>
	<div class='one-third column'>
		<div class='flex row'>
			{% render 'lang-filter.html', lang: lang -%}
		</div>
		<div class='flex row'>
			<a class='red button' style='color:white;' href='/whole-jam' title='The Whole Jam'>The whole Jam</a>
		</div>
	</div>
</div>

<div class='large grid'>
	{% for note in collections.jam %}
		{% if note.data.main %}
			<a class='box' href='{{ note.url }}' hreflang='{{ note.data.lang }}' title='{{ note.data.title }}'>
				<h3>{{ note.data.title }}</h3>
				<p>{{ note.data.description | markdownify | strip_html | truncatewords: 30 }}</p>
			</a>
		{% endif %}
	{% endfor %}
</div>
<div class='flex row'>
	<a class='red button' style='color:white;' href='/whole-jam' target='_blank' title='The Whole Jam'>Tutte le note</a>
</div>

<div class='yellow box'>
	La caratteristica fondamentale che rende la Marmellata efficace e così sorprendentemente potente è la connessione fra vari differenti pensieri. Per questo motivo, nello stesso vasetto che contiene questa marmellata esistono collegamenti a note che ho scelto di tenere private. Potrebbe accadere che alcuni di questi siano riportati in una nota pubblica; i link che portano a pagine private non funzioneranno, appariranno [[così]].
</div>
