---
date: 2020-06-04T02:00:00+02:00
updated: 2022-10-13T17:36:03+02:00
tags:
  - track
  - wip
lang: it
toc: false
main: true
layout: page.html
image: /oggetti.webp
description: Gli oggetti da cui non mi separo mai. Quando li smarrisco o perdo la cognizione di dove sono in quel momento (spesso, addosso a me), entro in crisi.
aliases:
  - Compagni di viaggio
  - Inventario
permalink: /oggetti/
redirect_from: [/things/,/compagni-di-viaggio/,/inventario/]
todo:
  - finish refactoring, by moving each thing in its own page
---
<div class='row'><div class='one column'><article>{% renderTemplate 'md' %}
Sembra esagerato, ma sono così affezionato loro che alcuni fra gli oggetti che uso quotidianamente sono diventati come dei compagni nel viaggio della mia vita.</p>

Ciascuno di essi ha una storia e talvolta diverse generazioni, succedutesi in tempi (ahimè) relativamente molto brevi, a causa della mia irreparabile insopportabile sbadataggine.
	
Chi mi conosce sa quanto io sia appassionato, quasi ossessionato, dalle storie: mi sono sempre rifiutato di indossare vestiti e indumenti o utilizzare oggetti che non avessero un perché o una particolare relazione con me, se non il fatto che mi piacessero e li avessi acquistati o ricevuti in dono. Incredibilmente, tutti quelli ricordati qui, io stesso mi sorprendo quando ci penso, hanno una storia incredibile e sono stati protagonisti di peripezie straordinarie. Sarà dunque un po’ triste per me rievocare quando e come ho perso le tracce di ciascuno, ma, almeno, saranno ricordati per sempre.
{% endrenderTemplate %}</div></div></article>

<div class='row'>
	<div class='large grid'>
		{% for thing in collections.things %}
	 		<a href='{{ thing.url }}' title='{{ thing.data.title }}' lang='{{ thing.data.lang }}' hreflang='{{ thing.data.lang }}'>
				<div class='box'>
					{% if thing.data.image != '/tommi.space.wip.webp' %}{% img thing.data.image, thing.data.title %}{% endif %}
					<h3>{{ thing.data.title }}</h3>
					{% if thing.data.description %}
						<p>{{ thing.data.description | markdownify | strip_html | truncatewords: 30 }}</p>
					{% endif %}
				</div>
			</a>
		{% endfor %}
	</div>
</div>
