---
date: 2020-02-01
updated: 2024-04-13T22:14:28+02:00
tags:
  - meta
  - tomminess
aliases: The Jar, Jar, Marmelade
layout: default.html
permalink: /jam/
redirect_from: /jar/
ref: jam
toc: false
image: /jam.webp
---
<article class='wide'>
{% renderTemplate 'md' %}
I happen to make curious discoveries, as well as I end up having interesting thoughts which I need to save before they end up forgotten or while I find the right words to reformulate them and place them in the <cite>[Zibaldone](/zibenglish)</cite>.

I take all of these things and I throw them here.

## What is <cite>The Jam</cite>

In the wild, this is called <q>[Digital Garden](https://dev.to/jbranchaud/the-digital-garden-l10 'The Digital Garden on DEV.to')</q>, <q><cite><a lang='de' hreflang='en' href='/zettelkasten' title='Zettelkasten - tommi.space'>Zettelkasten</a></cite> system</q>. In my case, it is a definitely less ambitious experiment: it is mixed, heterogeneous, juicy, and sweet. I call it <cite>The Jam</cite>.

From this page, it is possible to start navigating in The Jam. There are two different ways to do this:
- by choosing a tag
- by opening one of the macro-notes (or <abbr title='Map Of Content'>MOC</abbr>s) below, and diving deeper and deeper in growingly branched notes.
{% endrenderTemplate %}
</article>

{% render 'tags.html', site: site -%}
{% render 'lang-filter.html', lang: lang -%}

<div class='wide flex'>
	<a class='red button' href='/jam/whole/' title='The Whole Jam'>The Whole Jam</a>
</div>

<div class='wide grid'>
	{% for note in collections.jam %}
		{% if note.data.main %}
			<a class='little box' href='{{ note.url }}' hreflang='{{ note.data.lang }}' title='{{ note.data.title }}'>
				<h3>{{ note.data.title }}</h3>
				<p>{{ note.data.description | markdownify | strip_html | truncatewords: 30 }}</p>
			</a>
		{% endif %}
	{% endfor %}
</div>

<div class='flex'>
	<a class='red margin button' href='/jam/whole/' title='The Whole Jam'>The Whole Jam</a>
</div>

<div class='yellow box'>
	The key feature which makes The Jam so effective and powerful is the connection among different thoughts. For this reason, the same jar which where The Jam is stored contains also notes I chose to keep private. You may encounter links which look [[like this]], you cannot click on them, it is totally normal since they are only privately available to me.
</div>
