---
title: Internet Awesomeness
altUrl: https://tommi.space/internet-awesomeness
description: Internet Awesomeness entries
permalink: /internet-awesomeness.json
lang: en
---
{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "{{ title }}",
	"home_page_url": "{{ altUrl }}",
	"feed_url": "{{ site.url }}{{ page.url }}",
	"description": "{{ description }}",
	"favicon": "{{ site.favicon }}",
	"authors": [{
		"name": "{{ site.author.name }}",
		"url": "{{ site.author.url }}",
		"avatar": "{{ site.author.avatar }}"
	}],
	"language": "en",
	"items": [{% for entry in internetawesomeness | sort(true, false, 'added') %}
	{
		"id": "{{ entry.url }}",
		"url": "{{ entry.url }}",
		"title": {{ entry.title | dump | safe }},
		{#{%- if entry.added != '' -%}"date_published": "{{ entry.added | dateToRfc3339 }}",{%- endif -%}#}
		"content_html": {{ entry.description | markdownify | dump | safe }},
		"content_text": {{ entry.description | markdownify | striptags(true) | dump | safe }},
		"summary": {{ entry.description | markdownify | dump | safe }}{% if entry.tags != '' %},
		{% set tagsarray = entry.tags.split(' ') %}"tags": [{% for tag in tagsarray %}
		"{{ tag }}"{%- if loop.last %}{% else %},{% endif %}
		{% endfor %}
		]{% endif %}
	}{%- if loop.last %}{% else %},{% endif -%}
	{%- endfor -%}]
}
