---
title: Jam Stream
description: The feed of all the notes that populate “The Jam„
altUrl: https://tommi.space/jam
permalink: /jam.json
lang: en
---
{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "{{ title }}",
	"home_page_url": "{{ altUrl }}",
	"feed_url": "{{ site.url }}{{ page.url }}",
	"description": "{{ description }}",
	"favicon": "{{ site.favicon }}",
	"authors": [{
		"name": "{{ site.author.name }}",
		"url": "{{ site.author.url }}",
		"avatar": "{{ site.author.avatar }}"
	}],
	"language": "en",
	"items": [{% for entry in collections.jam | sort(true, false, 'date') %}
	{
		{%- set absolutePostUrl = entry.url | absoluteUrl(metadata.url) %}
		"id": "{{ absolutePostUrl }}",
		"url": "{{ absolutePostUrl }}",
		"title": {{ entry.data.title | dump | safe }},
		"content_html": {{ entry.content | dump | safe }},
		"content_text": {{ entry.content | striptags(true) | dump | safe }},
		{%- if entry.data.description %}"summary": {{ entry.data.description | dump | safe }},{% endif -%}
		"image": {%- if entry.data.image %}"{{ entry.data.image }}"{% else %}"{{ image }}"{% endif -%},
		{%- if entry.date %}"date_published": "{{ entry.date | dateToRfc3339 }}",{% endif -%}
		{%- if entry.data.updated %}"date_modified": "{{ entry.data.updated }}",{% endif -%}
		{%- if entry.data.tags %}"tags": [{% for tag in entry.data.tags -%}
		"{{ tag.title }}"{%- if loop.last %}{% else %},{% endif -%}
		{% endfor -%}
		],{% endif -%}
		"language": "{{ entry.data.lang }}"
	}{%- if loop.last %}{% else %},{% endif -%}
	{%- endfor -%}]
}
