---
metadata:
  title: Zibaldone
  home_page_url: https://tommi.space/zibaldone
  description: Tutti gli articoli dal blog di tommi.space
  feed_url: https://tommi.space/zibaldone.json
permalink: /zibaldone.json
---
{% jsonFeed collections.posts, metadata %}