:root {
	--pagefind-ui-primary: var(--primary);
	--pagefind-ui-text: var(--text);
	--pagefind-ui-background: var(--background);
	--pagefind-ui-border: #152028;
	--pagefind-ui-tag: var(--secondary);
}
