.pagefind-ui {
	--pagefind-ui-primary: var(--primary);
	--pagefind-ui-text: var(--text);
	--pagefind-ui-background: var(--background);
	--pagefind-ui-border: var(--slight);
	--pagefind-ui-tag: var(--secondary);
}

div#search {
	margin: 0 3%;
	min-height: 80vh;
}
