@use 'parts/root';

.qsm {
	background: #E63946;
	.button {
		background: #1D3557;
	}
}

#webrings {
	margin: root.$regular-less 0;
	justify-content: space-evenly;
	.box {
		margin: 0;
	}
}

#hotlinewebring {
	background: #FA9ABA;
	color: #333;
	border: 5px solid #BF0946;
	a {
		background: #BF0946;
		color: #FFF;
	}
	h3 a {
		color: #333;
		background: none;
	}
}

#indiewebring {
	background: #FFB100;
	color: #444;
	border: 5px solid #FF5C00;
	a {
		background: #F00;
		color: #FFF;
	}
	h3 a {
		color: #444;
		background: none;
	}
}

#safontwebring {
	background: #000;
	color: #FFF;
	border: 5px solid #2ECFCA;
	a {
		background: #FFF;
		color: #000;
	}
	h3 a {
		color: #2ECFCA;
		background: none;
	}
}

#sconnesso {
	background: linear-gradient(-45deg,#884EE177,#884EE122);
	img {
		aspect-ratio: 1/1;
	}
	.button {
		background:var(--purple);
		color:#FFF;
	}
	h2 {
		color: var(--purple);
		text-shadow: -15px -18px 2px #FFF, 8px 5px 1px #FFF, 60px -10px 5px #FFF, -40px -2px 3px #FFF;
		margin-bottom: root.$regular;
	}
}
