.qsm {
	background: #E63946;
	.button {
		background: #1D3557;
	}
}

#scambi {
	background: linear-gradient(98deg, #FFEDC4 0%, #E9AFFF 98.65%), #FBFBFB;
	color: #480B5E;
	a {
		color: #233FB9;
	}
	h3 img {
		display: inline;
		max-height: 5rem;
	}
	.button {
		color: #FBFBFB;
		background: linear-gradient(#0000, #2A15323E 75%), #69088D;
	}
	u {
		text-decoration-color: #ADCFFF !important;
	}
}

#hotlinewebring {
	background: #FA9ABA;
	color: #333;
	border: 5px solid #BF0946;
	a {
		background: #BF0946;
		color: #FFF;
	}
	h3 a {
		color: #333;
		background: none;
	}
}

#indiewebring {
	background: #FFB100;
	color: #444;
	border: 5px solid #FF5C00;
	a {
		background: #F00;
		color: #FFF;
	}
	h3 a {
		color: #444;
		background: none;
	}
}

#weirdwidewebring {
	background: linear-gradient(90deg, rgba(255,0,0,0.5) 0%, rgba(255,165,0,0.5) 17%, rgba(255,255,0,0.5) 33%, rgba(0,128,0,0.5) 49%, rgba(0,0,255,0.5) 65%, rgba(75,0,130,0.5) 83%, rgba(238,130,238,0.5) 100%); 
	border: 5px solid var(--slight);
	a {
		background: var(--dark-blue);
		color: #FFF;
	}
	h3 a {
		color: var(--text);
		background: none;
	}
}