<!DOCTYPE html>
<html prefix='og: http://ogp.me/ns#' dir='ltr'>
{% render 'head.liquid', latex: latex, date: date, updated: updated, title: title, description: description, primary: primary, lang: lang, alternate: alternate, accounts: accounts, site: site, url: page.url, layout: layout, isNote: isNote, isPost: isPost, tommi: tommi, image: image, head: head %}
<body class='full'>
	<main>
		{{ content }}
	</main>
</body>

