---
layout: wrapper.liquid
type: CollectionPage
---
<main class='writing'>
	<hgroup class='flex'>
		<a class='u-uid u-url' href='{{ page.url | prepend: site.url }}'><h1 class='p-name wavyBackgroundRed'>{{ title }}</h1></a>
		{% if subtitle %}
			<h2>{{ subtitle }}</h2>
		{% endif %}
	</hgroup>
	
	<aside>
		<article class='metadata'>
			<div class='box'>
				<details>
					<summary><h2>ℹ️ Info</h2></summary>
					<dl>
						{% if aliases %}
							<dt>💭 
								{% if lang == 'it' %}
									o anche:
								{% else %}
									or also:
								{% endif %}
							</dt>
							{% for alias in aliases %}
								<dd><cite class='alias'>{{ alias }}</cite></dd>
							{% endfor %}
						{% endif %}
	
						{% if tags %}
							<dt>🏷️ Tags:</dt>
							{% render 'page-tags.html', tags: tags, site: site, size: 'tiny' %}
						{% endif %}
	
						{% if location %}
							<dt>📍
								{% if lang == 'it' %}
									Luogo:
								{% else %}
									Location:
								{% endif %}
							</dt>
							<dd>
								{% for place in places %}
									{% if place.name contains location or place.aliases contains location %}
										{%- if place.osm != '' -%}
											<a href='{{ place.osm }}' title='{{ place.name }} su OpenStreetMap'>{{ place.name }}</a>
										{%- else -%}
											<a href='https://osm.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18' title='{{ place.name }} su OpenStreetMap'>{{ place.name }}</a>
										{%- endif -%}
										{%- if place.city -%}
											, {{ place.city }}
										{%- endif -%}
										{% assign found = true %}
									{% endif %}
								{% endfor %}
								{% unless found %}
									<a href='https://www.openstreetmap.org/search?query={{ location | url_encode }}'>{{ location }}</a>
								{% endunless %}
							</dd>
						{% endif %}
						{% if lang == 'it' %}
							{% if date %}
								<dt>🗓️ Data:</dt>
								<dd><time class='dt-published' datetime='{{ date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.liquid', date: date %}</time></dd>
							{% endif %}
							{% if updated %}
								<dt>🖋️ Ultima modifica:</dt>
								<dd><time class='dt-updated' datetime='{{ updated | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.liquid', date: updated %}</time></dd>
							{% endif %}
						{% else %}
							{% if date %}
								<dt>🗓️ Date:</dt>
								<dd><time class='dt-published' datetime='{{ date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ date | date: '%-d %B %Y' }}</time></dd>
							{% endif %}
							{% if updated %}
								<dt>🖋️ Latest change:</dt>
								<dd><time class='dt-updated' datetime='{{ updated | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ updated | date: '%-d %B %Y' }}</time></dd>
							{% endif %}
						{% endif %}
					</dl>
					<a rel='author' class='p-author h-card' href='https://tommi.space/about'>Tommi</a>
				</details>
			</div>
		</article>

		{% if toc %}
			<div id='toc'>
				<details class='box' open>
					<summary><h2>{% if lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h2></summary>
					{{ content | toc }}
				</details>
			</div>
		{% endif %}
</aside>

	<article class='e-content{% if serif %} serif{% endif %}' data-pagefind-body>
		{{ content }}
	</article>

</main>

