---
layout: wrapper.liquid
type: CollectionPage
---
<main class='h-entry jam'>
	<section class='center row'>
		<a class='u-uid u-url' href='{{ page.url | prepend: site.url }}'><h1 class='p-name'>{{ title }}</h1></a>
		{% if subtitle %}
			<h2>{{ subtitle }}</h2>
		{% endif %}
		<p class='metadata'>
			{% if aliases %}
				{% if lang == 'it' %}
					o anche: 
				{% else %}
					or also: 
				{% endif %}
				{% for alias in aliases %}
					<cite class='alias'>{{ alias }}</cite>, 
				{% endfor %}
			{% endif %}
			{% if lang == 'it' %}
				{% if location %}
					{% for place in places %}
						{% if place.name contains location or place.aliases contains location %}
							{% if place.osm != '' %}
								<a href='{{ place.osm }}' title='{{ place.name }} su OpenStreetMap'>{{ place.name }}</a>,
							{% else %}
								<a href='https://osm.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18' title='{{ place.name }} su OpenStreetMap'>{{ place.name }}</a>, 
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if date %}<time class='dt-published' datetime='{{ date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.liquid', date: date %}</time>{% endif %}
			{% else %}
				{% if location %}
					{% for place in places %}
						{% if place.name contains location or place.aliases contains location %}
							{% if place.osm != '' %}
								<a href='{{ place.osm }}' title='{{ place.name }} on OpenStreetMap'>{{ place.name }}</a>,
							{% else %}
								<a href='https://osm.org?mlat={{ place.lat }}&mlon={{ place.lon }}&zoom=18' title='{{ place.name }} on OpenStreetMap'>{{ place.name }}</a>, 
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if date %}<time class='dt-published' datetime='{{ date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ date | date: '%-d %B %Y' }}</time>{% endif %}
			{% endif %}
			{% if lang == 'it' %}
				{% if updated %}
					<br>ultima modifica: 
					<time class='dt-updated' datetime='{{ updated | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.liquid', date: updated %}</time>
				{% endif %}
			{% else %}
				{% if updated %}
					<br>latest edit:
					<time class='dt-updated' datetime='{{ updated | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ updated | date: '%-d %B %Y at %k:%m' }}</time>
				{% endif %}
			{% endif %}
			<a rel='author' class='p-author h-card' href='https://tommi.space/about'>Tommi</a>
		</p>
	</section>

	{% render 'page-tags.html', tags: tags, site: site, size: 'smaller' %}

	{% if toc %}
		<aside id='toc' class='collapsible-supercontainer'>
			<h3>{% if lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h3>
			<div class='collapsible-container'>
				{{ content | toc }}
			</div>
		</aside>
	{% endif %}

	<div class='row'>
		<div class='one column'>
			<article class='e-content note{% if serif %} serif{% endif %}' data-pagefind-body>
				{{ content }}
			</article>
		</div>
	</div>

</main>
