---
layout: wrapper.liquid
---
<main class='yellow'>
	<h1 class='wide'>{{ title }}</h1>
		<article class='middle serif' data-pagefind-body>
			{{ content }}
			{% if page.inputPath contains 'poetry/' %}
				<p><a rel='author' class='p-author h-card' href='/{% if lang == 'it' %}tuffo{% else %}home{% endif %}/#about' title='Tommi'>T</a></p>
			{% endif %}
		</article>
	{% if lang == 'it' %}
		<a class='toolbar' href='/pasticci/' title='Tutte le poesie'>indietro</a>
	{% else %}
		<a class='toolbar' href='/poetry/' title='All of the poems'>back</a>
	{% endif %}
</main>
