---
layout: wrapper.liquid
---
<main class='h-entry box {{ tag | replace: '/', ' ' }}'>
	<h1 style='color: inherit' class='wide p-name'>{{ title }}</h1>
	<article class='wide grid'>
		{{ content }}
	</article>
</main>

