<!DOCTYPE html>
<html lang='{% case lang %}{% when 'it' %}it{% when 'fr' %}fr{% else %}en{% endcase %}' prefix='og: http://ogp.me/ns#' dir='ltr'>

	{% if ref %}
		{% for entry in collections.all %}
			{% if entry.data.ref == ref and entry.data.lang != lang %}
				{% assign alternate = entry %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% render 'head.html', latex: latex, date: date, updated: updated, title: title, description: description, primary: primary, lang: lang, alternate: alternate, accounts: accounts, site: site, url: page.url, layout: layout, isNote: isNote, isPost: isPost, tommi: tommi, image: image %}

	<body class='cantiere{% if class %} {{ class }}{% endif %}'>

		<div id='scrollTo' class='tool'>
			<noscript>
				<a id='scroll-to-top' class='tool' href='#' title='scroll to top'>
					<svg class='button' viewBox='0 0 24 24' style='background:var(--background)'><path d='M18 15a1 1 0 0 1-.64-.23L12 10.29l-5.37 4.32a1 1 0 0 1-1.41-.15 1 1 0 0 1 .15-1.41l6-4.83a1 1 0 0 1 1.27 0l6 5a1 1 0 0 1 .13 1.41A1 1 0 0 1 18 15z' fill='var(--text)'/></svg>
				</a>
			</noscript>
		</div>	
		<script type='text/javascript'>
			let scrollTo_Container = document.getElementById('scrollTo');
			window.onscroll = function() {scrollPosition()};
			function scrollPosition() {
				if (document.body.scrollTop < 1000 || document.documentElement.scrollTop < 1000) {
					scrollTo_Containter.innerHTML = '<button onclick="scrollToBottom()" id="scroll-to-bottom" title="Scroll to bottom">Bottom</button>';
				} else {
					scrollTo_Containter.innerHTML = '<button onclick="scrollToTop()" id="scroll-to-top" title="Scroll to top">Top</button>';
				};
			}
			function scrollToTop() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
			function scrollToBottom() {
				window.scrollTo(0, document.body.scrollHeight);
			}
		</script>

		{% render 'nav.html', lang: lang, alternate: alternate %}

		{% if tags contains 'draft' or tags contains 'wip' %}
			{% render 'draft.html', lang: lang %}
		{% endif %}

		{% if tags contains 'help' %}
			{% render 'help.html', lang: lang, lang: lang %}
		{% endif %}

		{{ content }}

		<div class='row'>
			{% render 'footer.html', lang: lang %}
		</div>

	</body>
</html>