<!DOCTYPE html>
<html lang='{% case lang %}{% when 'it' %}it{% when 'fr' %}fr{% else %}en{% endcase %}' prefix='og: http://ogp.me/ns#' dir='ltr'>

	{% if ref %}
		{% for entry in collections.all %}
			{% if entry.data.ref == ref and entry.data.lang != lang %}
				{% assign alternate = entry %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% render 'head.liquid', latex: latex, date: date, updated: updated, title: title, description: description, primary: primary, lang: lang, alternate: alternate, accounts: accounts, site: site, url: page.url, layout: layout, isNote: isNote, isPost: isPost, tommi: tommi, image: image, type: type, head: head %}

	<body{% if class %} class='{{ class }}'{% endif %}>

		{% if header %}
			{% render 'header.liquid', lang: lang, current: page.url %}
		{% endif %}

		{{ content }}

		{% if footer %}
			{% render 'footer.liquid', lang: lang, eleventyVersion: eleventy.version, buildTime: buildTime, source: site.source, path: page.inputPath, url: page.url %}
		{% endif %}

		{% if toolbar %}
			{% render 'toolbar.liquid', lang: lang, alternate: alternate, url: page.url %}
		{% endif %}

	</body>
</html>
