<article>
	{% if lang == 'it' %}
		<h2>Questo sito è nudo 😱</h2>
		<p>Oggi è il <cite lang=en><a href=https://css-naked-day.org/>CSS Naked Day</a></cite>!</p>
		<p>tommi.space appare così semplice e bruttino perché non sta venendo caricato alcun foglio di stile.</p>
		<p>Quello che stai vedendo è puro HTML, nudo.</p>
		<p>Più dettagli sul sito che ne racconta la storia e le caratteristiche → <a hreflang=en href=https://css-naked-day.org/>css-naked-day.org</a>.</p>
	{% else %}
		<h2>This website is naked 😱</h2>
		<p>Today is <cite><a href=https://css-naked-day.org/>CSS Naked Day</a></cite>!</p>
		<p>tommi.space appears so simple and ugly because no stylesheet is being loaded.</p>
		<p>What you are seeing is pure HTML, naked.</p>
		<p>More info on the website that tells its history and its defining values → <a href=https://css-naked-day.org/>css-naked-day.org</a>.</p>
	{% endif %}
</article>
