{{#
{{ date | date: '%-d ' }}
{% assign mese = date | date: '%m' %}
{%- case mese -%}
	{% when '01' %}gennaio
	{% when '02' %}febbraio
	{% when '03' %}marzo
	{% when '04' %}aprile
	{% when '05' %}maggio
	{% when '06' %}giugno
	{% when '07' %}luglio
	{% when '08' %}agosto
	{% when '09' %}settembre
	{% when '10' %}ottobre
	{% when '11' %}novembre
	{% when '12' %}dicembre
{%- endcase -%}
{{ date | date: ' %Y' -}}
#}}
