<div class='flex'>
	{% for tag in site.tags -%}
		{% for rawtag in tags -%}
			{% capture postag -%}{{ rawtag | replace: '/', ' ' }}{% endcapture %}
			{% if postag contains tag.title -%}
				<span rel='tag' class='{{ tag.title | slugify }} {{ size }} written button p-category'>{{ tag.title }}</span>
			{% endif -%}
		{% endfor -%}
	{% endfor -%}
</div>
