<div class='flex gap-2xs'>
	{{ for tag in tags }}
		{{ set classtag -}}{{ tag |> replace('/', ' ') }}
		<span rel='tag' class='{{ classtag }} {{ size }} button p-category'>{{ tag }}</span>
	{{ /for -}}
</div>
