<article id=free-palestine>
	{{ if lang == 'it' }}
		<a href=https://fiftythousandnames.org/ title='Fifty Thousand Names' hreflang=en>C’è un genocidio in corso</a>. Non esserne complice: non stare in silenzio! 🇵🇸 Palestina libera 🇵🇸
	{{ else }}
		<a href=https://fiftythousandnames.org/ title='Fifty Thousand Names'>A genocide is happening</a> right now. Don’t be complicit: don’t be silent! 🇵🇸 Free Palestine 🇵🇸
	{{ /if }}
</article>
