<header>
	<a id='tommiSpace' href='/{% if lang == 'it' %}tuffo{% else %}#main{% endif %}' title='home'>Tommi Space</a>
	<input type='checkbox' id='navToggle'>
	<nav id='mainNav' aria-labelledby='primary-navigation'>
		<a href={% if lang == 'it' %}'/tuffo'{% else %}'/#main'{% endif %} title='Homepage' {% if current == '/tuffo/' or current == '/' %}class='dim'{% endif %}>Intro</a>
		<a {% if current == '/ora/' or current == '/now/' %}class='dim'{% endif %}{% if lang == 'it' %}href='/ora/' title='Ciò che sto facendo'>Ora{% else %}href='/now/' title='What I am doing'>Now{% endif %}</a>
		<a {% if current == '/zibaldone/' or current == '/zibenglish/' %}class='dim'{% endif %} {% if lang == 'it' %}href='/zibaldone/' title='Blog'>Zibaldone{% else %}href='/zibenglish/' title='Zibaldone'>Blog{% endif %}</a>
		<a {% if current == '/marmellata/' or current == '/jam/' %}class='dim'{% endif %} {% if lang == 'it' %}href='/marmellata/' title='La Marmellata'>Marmellata{% else %}href='/jam/' title='The Jam'>The Jam{% endif %}</a>
	</nav>
</header>

