<div id='indiewebring' class='box center'>
	{% if lang == 'it' %}<span lang='it'>Questo sito è parte di</span>{% else %}This website is part of the{% endif %}
	<h3 lang='en'><a href='https://xn--sr8hvo.ws/' hreflang='en' title='IndieWeb Webring'>An IndieWeb Webring</a></h3>
	<div class='flex'>
		<a class='tiny button' href='https://xn--sr8hvo.ws/%F0%9F%9A%AD%F0%9F%9A%B3%F0%9F%98%85/previous' title='{% if lang == 'it' %}Sito precedente nel webring' lang='it' hreflang='en'>precedente{% else %}Previous website in the webring'>previous{% endif %}</a>
		<a class='tiny button' href='https://xn--sr8hvo.ws/%F0%9F%9A%AD%F0%9F%9A%B3%F0%9F%98%85/next' title='{% if lang == 'it' %}Sito successivo nel webring' lang='it' hreflang='en'>successivo{% else %}Next website in the webring'>next{% endif %}</a>
	</div>
</div>
