<section id='lang-filter' class='box'>
	<h3>
		{% if lang == 'it' -%}
			Filtra per lingua
		{% else -%}
			Filter by language
		{% endif -%}
	</h3>
	<div class='flex'>
		<button onclick='toggleEn();' title='{% if lang == 'it' -%}Mostra solo articoli in inglese{% else %}Show only posts in English{% endif -%}'>🇬🇧 </button>
		<button onclick='toggleIt();' title='{% if lang == 'it' -%}Mostra solo articoli in italiano{% else %}Show only posts in Italian{% endif -%}'>🇮🇹 </button>
		<button onclick='toggleFr();' title='{% if lang == 'it' -%}Mostra solo articoli in francese{% else %}Show only posts in French{% endif -%}'>🇫🇷 </button>
		<button onclick='toggleAll();' title='{% if lang == 'it' -%}Mostra tutti gli articoli{% else %}Show all the posts{% endif -%}'>🌏</a>
	</div>
	<noscript><p><strong class='red'>{% if lang == 'it' %}JavaScript è diasbilitato: i filtri non funzioneranno{% else %}JavaScript is disabled: filters won’t work{% endif %}</strong></p></noscript>
</section>