{% for post in collections.posts limit:1 %}
	<section class='box row' title='{% if lang == 'it' %}Ultimo articolo{% else %}Latest post{% endif %}'>
		<div class='half column vertical flex'>
			<a href='{{ post.url }}' style='margin-bottom: 2rem'><h2>{{ post.data.title }}</h2></a>
			<cite class='excerpt'>
				{{ post.templateContent | markdownify | strip_html | truncatewords: 160 }}
			</cite>
			<a href='{{ post.url }}' class='written button'>{% if lang == 'it' %}Leggi{% else %}Read{% endif %}</a>
		</div>
		<div class='half column vertical flex'>
			<a href='{{ post.url }}'><img src='{{ post.data.image }}' alt='{{ post.data.title }}' title='{{ post.data.title }}'></a>
		</div>
	</section>
{% endfor %}
