<div class='flex box'>
	<h2>{% if lang == 'it' %}Ascolta anche su{% else %}Listen also on{% endif %}</h2>
	<!-- Spotify -->
	<a href='https://open.spotify.com/show/56WG8GQ51bKx0C9CkFrw4e' title='Sconnesso su Spotify'><img src='/spotify.webp' alt='Spotify logo' class='square button'></a>
	<!-- Apple Podcasts -->
	<a href='https://podcasts.apple.com/it/podcast/sconnesso/id1550988532' title='Sconnesso su Apple Podcasts'><img src='/apple-podcasts.svg' alt='Listen on Apple Podcasts'></a>
	<!-- Spreaker -->
	<a href='https://spreaker.com/show/sconnesso' title='Sconnesso su Spreaker'>
		<svg class='square button' version='1.1' viewBox='0 0 24 24' style='background:#262729'><path d='m13.8 3.3-3.93 4.56-5.89-1.27 6.06 5.14-5.96 5.21 5.87-1.38 4.02 4.49 0.495-6 5.52-2.43-5.56-2.32-0.619-5.99z' style='fill:#FFC107'/></svg>
	</a>
</div>

