<div class='red box'>
	{% if lang == 'it' %}
		<h2>Questa pagina è obsoleta!</h2>
		<p>Se dipendesse dal Tommi attuale, questa pagina sarebbe rimossa da tommi.space. O ho cambiato idea su ciò che avevo scritto e non ho il tempo o l’energia di aggiornarlo, oppure non lo ritengo più rilevante.</p>
		<p>Tuttavia, per perseguire autenticamente lo spirito del <a href='https://jeffhuang.com/designed_to_last/' title='This page is designed to last – Jeff Huang' hreflang='en'>web design a lungo termine</a>, la pagina rimane qui così com’era.</p>
		<p>In ogni caso, non escludo che un giorno, per qualche ragione, possa tornare qui e modificare qualcosa. Puoi seguire <a href='/it/index.xml' title='Il feed principale di tommi.space'>il flusso di questo sito</a> per seguire tutto ciò che succede in questo spazio virtuale.</p>
	{% else %}
		<h2>This page is obsolete!</h2>
		<p>If it was up to present Tommi, this page would be removed from tommi.space. Either I changed my mind about what I wrote and I don’t have the time/energy to update it, or I don’t deem it relevant anymore.</p>
		<p>Nevertheless, to truly embrace the spirit of <a href='https://jeffhuang.com/designed_to_last/' title='This page is designed to last – Jeff Huang'>long-lasting web design</a>, I am keeping it online as it was.</p>
		<p>In any case, I do not exclude that someday for whatever reason I will get back on this. Follow <a href='/index.xml' title='tommi.space’s main feed'>this website’s web feed</a> to keep up with what happens around here!</p>
	{% endif %}
</div>
