{% for tag in tags -%}
	<dd>
		<a
			href='/tag/{{ tag }}/'
			rel='tag'
			class='{{ tag | replace: '/', ' ' }} {{ size }} button p-category'
			data-pagefind-filter='tag'>
				{{ tag }}
		</a>
	</dd>
{% endfor -%}

