<div id='safontwebring' class='box center'>
	{% if lang == 'it' %}<span lang='it'>Questo sito è parte del</span>{% else %}This website is part of the{% endif %}
	<h3><a href='https://xandra.cc/safonts' title='Safont'>Safonts Webring</a></h3>
	<div class='flex'>
		<a class='tiny button' href='https://www.lexiqqq.com/' title='{% if lang == 'it' %}Sito precedente nel webring' lang='it' hreflang='en'>precedente{% else %}Previous website in the webring'>previous{% endif %}</a>
		<a class='tiny button' href='https://xandra.cc/' title='{% if lang == 'it' %}Sito successivo nel webring' lang='it' hreflang='en'>successivo{% else %}Next website in the webring'>next{% endif %}</a>
	</div>
</div>
