<section class='half column' lang='it'>
	<div id='sconnesso' class='box'>
		<a href='{{ sconnesso.link }}'>
			<h2 class='title'>{% if lang == 'it' %}Il podcast {% endif %}<cite lang='it'>Sconnesso</cite></h2>
			{% img "sconnesso.webp", "Logo Sconnesso" %}
		</a>
		<p>{{ sconnesso.description | markdownify }}</p>
		<div class='flex row'>
			<a class='written button' href='{{ sconnesso.link }}'>{% case lang %}{% when 'it' %}Ascolta{% else %}Listen{% endcase %}</a>
		</div>
	</div>
</section>
