<section class='box' id='webrings'>
	<h2>💥 Webrings! 😍</h2>
	{% if lang == 'it' %}
		<p class='center'>🤔 Cooosa ⁉️</p>
		<p>I <a href='https://it.wikipedia.org/wiki/Webring' title='Webring on Wikipedia'>Webring</a> sono particolari, coccolose e magiche collezioni di siti web che si piacciono così tanto da voler far rete fra loro. Esistono per sposare e promuovere il vero spirito del Web: decentralizzato, aperto e creativo.</p>
		<p>Questi sono i Webring di cui tommi.space fa parte. Cliccando sui tasti puoi muoverti fra gli altri siti parte del webring, cliccando sul nome, puoi raggiungere la pagina iniziale del webring.</p>
	{% else %}
		<p class='center'>🤔 Whaaaat ⁉️</p>
		<p><a href='https://en.wikipedia.org/wiki/Webring' title='Webring on Wikipedia'>Webrings</a> are whimsical, weird, and cozy collections of interesting websites that like each other very much. They exist to embrace and foster the true spirit of the decentralized, open, and creative Web.</p>
		<p>These are the Webrings this website is part of. By clicking on the buttons you can move around in the other websites part of the same webring, while by clicking on its name you get to the webring’s homepage.</p>
	{% endif %}
	<div class='flex'>
		<div id='cssjoywebring' class='box center'>
			<h3><cite><a href='https://cs.sjoy.lol' title='CSS JOY'>CSS JOY</a></cite></h3>
			<div class='flex'>
				<a class='tiny button' href='https://webri.ng/webring/cssjoy/previous?via=https://tommi.space/' title='{% if lang == 'it' %}Vai sul sito precedente nel webring' lang='it' hreflang='en'>indietro{% else %}Go to the previous website in the webring'>previous{% endif %}</a>
				<a class='tiny button' href='https://webri.ng/webring/cssjoy/random?via=https://tommi.space/' title='{% if lang == 'it' %}Vai su un sito a caso nel webring' lang='it' hreflang='en'>casuale{% else %}Go to a random website in the webring'>random{% endif %}</a>
				<a class='tiny button' href='https://webri.ng/webring/cssjoy/next?via=https://tommi.space/' title='{% if lang == 'it' %}Vai sul sito successivo nel webring' lang='it' hreflang='en'>avanti{% else %}Go to the next website in the webring'>next{% endif %}</a>
			</div>
		</div>

		<div id='hotlinewebring' class='box center'>
			<h3><a href='https://hotlinewebring.club' title='Hotline Webring'>Hotline</a></h3>
			<div class='flex'>
				<a class='tiny button' href='https://hotlinewebring.club/tommi/previous' title='{% if lang == 'it' %}Sito precedente nel webring' lang='it' hreflang='en'>indietro{% else %}Previous website in the webring'>previous{% endif %}</a>
				<a class='tiny button' href='https://hotlinewebring.club/tommi/next' title='{% if lang == 'it' %}Sito successivo nel webring' lang='it' hreflang='en'>avanti{% else %}Next website in the webring'>next{% endif %}</a>
			</div>
		</div>

		<div id='indiewebring' class='box center'>
			<h3 lang='en'><a href='https://xn--sr8hvo.ws/' hreflang='en' title='An IndieWeb Webring'>IndieWeb</a></h3>
			<div class='flex'>
				<a class='tiny button' href='https://xn--sr8hvo.ws/%F0%9F%9A%AD%F0%9F%9A%B3%F0%9F%98%85/previous' title='{% if lang == 'it' %}Sito precedente nel webring' lang='it' hreflang='en'>indietro{% else %}Previous website in the webring'>previous{% endif %}</a>
				<a class='tiny button' href='https://xn--sr8hvo.ws/%F0%9F%9A%AD%F0%9F%9A%B3%F0%9F%98%85/next' title='{% if lang == 'it' %}Sito successivo nel webring' lang='it' hreflang='en'>avanti{% else %}Next website in the webring'>next{% endif %}</a>
			</div>
		</div>

		<div id='safontwebring' class='box center'>
			<h3><a href='https://xandra.cc/safonts' title='Safonts Webring'>Safonts</a></h3>
			<div class='flex'>
				<a class='tiny button' href='https://www.lexiqqq.com/' title='{% if lang == 'it' %}Sito precedente nel webring' lang='it' hreflang='en'>indietro{% else %}Previous website in the webring'>previous{% endif %}</a>
				<a class='tiny button' href='https://xandra.cc/' title='{% if lang == 'it' %}Sito successivo nel webring' lang='it' hreflang='en'>avanti{% else %}Next website in the webring'>next{% endif %}</a>
			</div>
		</div>

		<div id='theclawwebring' class='box center'>
			<h3><a href='https://github.com/whitep4nth3r/the-claw-webring' title='The Claw Webring on GitHub'>The Claw</a></h3>
		</div>

		<div id='fediring' class='box center'>
			<h3><cite><a href='https://fediring.net' title='Fediring'>Fediring</a></cite></h3>
			<div class='flex'>
				<a class='tiny button' href='https://fediring.net/previous?host=tommi.space' title='{% if lang == 'it' %}Vai sul sito precedente nel webring' lang='it' hreflang='en'>indietro{% else %}Go to the previous website in the webring'>previous{% endif %}</a>
				<a class='tiny button' href='https://fediring.net/random' title='{% if lang == 'it' %}Vai su un sito a caso nel webring' lang='it' hreflang='en'>casuale{% else %}Go to a random website in the webring'>random{% endif %}</a>
				<a class='tiny button' href='https://fediring.net/previous?host=tommi.space' title='{% if lang == 'it' %}Vai sul sito successivo nel webring' lang='it' hreflang='en'>avanti{% else %}Go to the next website in the webring'>next{% endif %}</a>
			</div>
		</div>

		<div id='linuxring' class='box center'>
			<h3><cite><a href='https://teethinvitro.neocities.org/webring/linuxring/index.html' title='*nixRing'>*nixRing</a></cite></h3>
			<div class='flex'>
				<a class='tiny button' href='https://theholytachanka.com/' title='{% if lang == 'it' %}Vai sul sito precedente nel webring' lang='it' hreflang='en'>indietro{% else %}Go to the previous website in the webring'>previous{% endif %}</a>
				<a class='tiny button' href='https://teethinvitro.neocities.org/' title='{% if lang == 'it' %}Vai sul sito successivo nel webring' lang='it' hreflang='en'>avanti{% else %}Go to the next website in the webring'>next{% endif %}</a>
			</div>
		</div>

		<div id='personalsites' class='box center'>
			<h3><cite><a href='https://personalsit.es' title='Personal Sites'>Personal Sites</a></cite></h3>
			<div class='flex'>
				<a class='tiny button' href='https://salomonebaquis.com' title='{% if lang == 'it' %}Vai sul sito precedente nel webring' lang='it' hreflang='en'>indietro{% else %}Go to the previous website in the webring'>previous{% endif %}</a>
				<a class='tiny button' href='https://hamatti.org' title='{% if lang == 'it' %}Vai sul sito successivo nel webring' lang='it' hreflang='en'>avanti{% else %}Go to the next website in the webring'>next{% endif %}</a>
			</div>
		</div>

		<div id='bucketwebring' class='box center'>
			<h3><cite><a href='https://webring.bucketfish.me' title=''>The Bucket</a></cite></h3>
			<div class='flex'>
				<a class='tiny button' href='https://webring.bucketfish.me/redirect.html?to=prev&name=Tommi' title='{% if lang == 'it' %}Vai sul sito precedente nel webring' lang='it' hreflang='en'>indietro{% else %}Go to the previous website in the webring'>previous{% endif %}</a>
				<a class='tiny button' href='https://webring.bucketfish.me/redirect.html?to=next&name=Tommi' title='{% if lang == 'it' %}Vai sul sito successivo nel webring' lang='it' hreflang='en'>avanti{% else %}Go to the next website in the webring'>next{% endif %}</a>
			</div>
		</div>

		<div id='blogroll' class='box center'>
			<h3><cite><a href='https://blogroll.org' title='The Blogroll'>The Blogroll</a></cite></h3>
		</div>

	</div>
</section>

