<article class='red box'>
	{% if lang == 'it' %}
		<h2>Cos’è questo?</h2>
		<p>Questa pagina è un web feed, anche conosciuto come <q lang='en'>RSS feed</q>, ma a me piace chiamarlo con il termine <q>flusso</q>. Per seguire questo flusso, basta copiare l’indirizzo di questa pagina e incollarlo nel proprio lettore RSS. <a href='https://it.wikipedia.org/wiki/Feed' title='“Feed” su Wikipedia'>la relativa pagina su Wikipedia</a> contiene qualche informazione in più.</p>
	{% else %}
		<h2>WTF is this?</h2>
		<p>This is a web feed (also known as <q>RSS feed</q>) that can be viewed in the browser. <strong>Subscribe for free</strong> by copying the link of this page into your feed reader. If you want to learn what a RSS feed is, read <a href='https://www.thisdaysportion.com/about/what-is-rss/' title='What’s RSS? – Leon Paternoster'>this article by Leon Paternoster</a>.</p>
	{% endif %}
</article>

