{% if wiki_title %}
	{% assign title = wiki_title %}
{% endif %}
{% assign wiki_link = title | replace: ' ', '_' | url_encode %}

<article class='xpub box'>
	<p>This page is intertwined with my research and practice at <a href=https://xpub.nl/>XPUB</a> 👾.</p>
	{% unless wiki_exclude %}
		<p>Therefore, it is <a href='https://pzwiki.wdka.nl/mediadesign/{{ wiki_link }}' title='{{ title }} on the XPUB wiki'>cross-published on the XPUB Wiki</a>.</p>
	{% endunless %}
	<p>Learn more by reading <a href=https://pzwiki.wdka.nl/mediadesign/User:Tommi/PaJamas>PaJamas</a> 👀.
</article>
