---
date: 2020-06-10
updated: 2021-10-30T19:13:45+02:00
tag:
  - quote
toc: false
description: Some are from celebrities, some were pronounced by friends of mine and may have no meaning to the public, in realtà sono quasi tutte in italiano dunque non ha senso che scriva la descrizione in inglese.
redirect_from: [/cit/,/citazioni/]
image: https://tommi.space/quotes.gif
main: true
todo:
  - add tags
---
<style>
	.cite {
		margin-bottom: 4rem;
	}
</style>
{% assign quotes = quotes | sort: 'date' | reverse %}
{% for q in quotes %}
	<p class='date' datetime='{{ q.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ q.date | date: '%d %B %Y' }}</p>
	<blockquote lang='{{ q.lang }}'{% if q.id %}id='{{ q.id }}'{% endif %}>
		<p>{{ q.quote | markdownify }}</p>
	</blockquote>
	{% if q.author != '' or q.work != '' %}
		<p class='cite'>
			{{ q.author }}{%- if q.work != '' and q.author != '' -%}, {% endif -%}<cite>{% if q.url != '' %}<a href='{{ q.url }}' lang='{{ q.lang }}' hreflang='{{ q.lang }}' target='_blank' title='{{ q.work }}'>{{ q.work }}</a>{% else %}{{ q.work }}{% endif %}</cite>
			<br>{% if q.note != '' %}{{ q.note | markdownify }}{% endif %}
		</p>
	{% endif %}
{% endfor %}
