@use 'root' as *;

.background {
	color: var(--text);
	background: var(--background);
	--link: var(--primary);
	--internal-link: var(--secondary);
}

.green {
	color: var(--black-ish);
	background: var(--green) !important;
	border-color: var(--green) !important;
}

.red {
	color: #FFF;
	background: var(--red);
	border-color: var(--red) !important;
	--link: var(--yellow);
	--internal-link: var(--link);
}

.blue {
	color: #FFF;
	background: var(--blue);
	border-color: var(--blue) !important;
	--link: var(--yellow);
	--internal-link: var(--link);
	&::selection {
		background: #FFF;
		color: var(--blue);
	}
}

.dark-blue {
	color: #FFF;
	background: var(--dark-blue);
	border-color: var(--dark-blue) !important;
	--link: var(--yellow);
	--internal-link: var(--link);
}

.yellow {
	color: var(--black-ish);
	background: var(--yellow);
	border-color: var(--yellow) !important;
	--link: var(--red);
	--internal-link: var(--blue);
	::selection {
		background: var(--red);
		color: #FFF;
	}
}

.razzmatazz {
	color: #FFF;
	background: var(--razzmatazz);
	border-color: var(--razzmatazz) !important;
}

.it {
	color: var(--dark-blue);
	background: linear-gradient(90deg, #008C45 0%, #FFF 37%, #FFF 63%, #CD212A 100%);
}

.border {
	color: var(--text) !important;
	background: var(--background) !important;
	border: $border solid var(--text);
	--link: var(--primary) !important;
}

