.background {
	background: var(--background);
}

.green {
	background: var(--green);
	color: var(--black-ish);
	border-color: var(--green);
}

.red {
	color: #FFF;
	background: var(--red);
	--link: var(--yellow);
	--internal-link: var(--link);
	border-color: var(--red);
}

.blue {
	color: #FFF;
	background: var(--blue);
	--link: var(--yellow);
	--internal-link: var(--link);
	border-color: var(--blue);
	&::selection {
		background: #FFF;
		color: var(--blue);
	}
}

.dark-blue {
	color: #FFF;
	background: var(--dark-blue);
	--link: var(--yellow);
	--internal-link: var(--link);
	border-color: var(--dark-blue) !important;
}

.yellow {
	color: #000;
	background: var(--yellow);
	--link: var(--red);
	--internal-link: var(--blue);
	border-color: var(--yellow) !important;
	::selection {
		background: var(--red);
		color: #FFF;
	}
}

.razzmatazz {
	color: #FFF;
	background: var(--razzmatazz);
	border-color: var(--razzmatazz);
}

.it {
	color: var(--dark-blue);
	background: linear-gradient(90deg, #008C45 0%, #FFF 37%, #FFF 63%, #CD212A 100%);
}

.border {
	color: var(--text);
	background: var(--background);
	--link: var(--primary);
	border-style: solid;
	border-width: .5rem;
}

