@forward 'root';
@use 'root' as *;

/**** Layout > elements > custom ****/

.embed {
	--video--width: 1920;
	--video--height: 1080;

	position: relative;
	padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
	max-width: 100%;
	background: none;
	margin: var(--space-m) auto;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: var(--shadow) !important;
		border-radius: $radius-l !important;
	}
}

lite-youtube {
	margin: auto !important;
	box-shadow: var(--shadow) !important;
}

.button {
	line-height: var(--space-l);
	color: var(--background);
	background: var(--primary);
	padding: 0 var(--space-s);
	font-size: var(--size-1);
	font-weight: 700;
	text-transform: uppercase;
	border-radius: $radius-m;
	box-shadow: var(--btn-shadow);
	text-align: center;
	hyphens: none;
	&:hover,
	&:focus {
		box-shadow: var(--focus-shadow) !important;
	}
	&:active {
		box-shadow: var(--inner-shadow) !important;
	}
	&.margin {
		margin: var(--space-m);
	}
	&.small {
		line-height: var(--space-m);
		padding: 0 var(--space-xs);
		font-size: var(--size-0);
		border-radius: $radius-s;
	}
	&.tiny {
		line-height: var(--space-s);
		padding: 0 var(--space-3xs);
		font-size: var(--size--1);
		border-radius: 5px;
	}
}

.toolbar {
	position: fixed;
	bottom: var(--space-l);
	right: var(--space-l);
	z-index: 4;
	display: flex;
	.button {
		background: #FFF;
		padding: 0;
		width: var(--space-xl);
		line-height: var(--space-xl);
		font-size: var(--size-1);
	}
}

#navToggleBtn {
	&:active,
	&:hover,
	&:focus {
		box-shadow: var(--inner-shadow);
	}
}

.feed {
	h1,
	& main h2 {
		color: #FFF;
		text-shadow: var(--shadow);
	}
	img {
		border-radius: 100%;
	}
}

.box {
	background: var(--alt-background);
	color: var(--text);
	padding: var(--space-m);
	border-radius: $radius-l;
	box-shadow: var(--shadow);
	&.little {
		border-radius: $radius-m;
		padding: var(--space-xs);
		h2,
		h3,
		h4 {
			font-size: var(--size-0);
		}
		p {
			font-size: var(--size--1);
			font-weight: 300;
			line-height: 1;
			margin: var(--space-3xs);
		}
	}
	h2,
	h3 {
		margin: 0 auto var(--space-2xs);
		text-align: center;
	}
	.anchor {
		display: none;
	}
	.box {
		color: var(--text);
		background: var(--background);
		padding: var(--space-2xs) var(--space-xs);
		box-shadow: var(--little-shadow);
		border-radius: $radius-m;
		h2,
		h3,
		h4 {
			font-size: var(--size-1);
		}
	}
}

.e-content {
	background: var(--background);
	border-radius: $radius-l;
	box-shadow: var(--shadow);
	padding: var(--space-m);
	& > * + * {
		margin: 1em auto 0;
	}
}

.post article > p:not(.cite):first-of-type::first-letter,
.cite:first-of-type + p::first-letter {
	-webkit-initial-letter: 4;
	font-weight: bolder;
	font-size: 400%;
	margin: var(--space-xs) var(--space-xs) 0 0;
	text-shadow: 2px 2px 0 var(--primary);
}

.tags {
	.flex {
		max-height: 30vh;
		overflow: scroll;
		-ms-overflow-style: none;
	}
}

#lang-filter {
	div {
		font-size: var(--size-2);
	}
}

#toc {
	margin-top: var(--space-m);
	z-index: 1;
}

details {
	h2 {
		font-size: var(--size-2);
		margin: 0 !important;
		&::after {
			margin-left: .5ch;
			content: '⬇️';
		}
	}
	summary {
		&::marker {
			content: '';
		}	
	}
	&[open] {
		h2 {
			&::after {
				content: '❌';
			}
		}
	}
}

.qsm {
	background: #E63946;
	.button {
		background: #1D3557;
	}
}

#sconnesso {
	background: linear-gradient(-45deg,#884EE177,#884EE122), var(--deep);
	.button {
		background:var(--purple);
		color:#FFF;
	}
	h2 {
		color: var(--purple);
		text-shadow: -15px -18px 2px #FFF, 8px 5px 1px #FFF, 60px -10px 5px #FFF, -40px -2px 3px #FFF;
	}
}

#latest-post {
	position: relative;
}

.metadata {
}

.vertical {
	flex-direction: column;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: var(--space-xs);
}

body:not(.poetry) .p-author {
	display: none;
}

.full {
	background: var(--primary);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	* {
		color: var(--background);
	}
}

.poetry {
	min-height: 100vh;
	background: var(--yellow);
	--text: var(--black-ish) !important;
	--tiny-shadow: 5px 5px 20px #11305B22, -5px -5px 20px #FFF3CC22 !important;
	color: var(--black-ish);
	padding: 5vw;
	.intro {
		max-width: 500px;
	}
	a {
		color: var(--dark-blue) !important;
	}
	ul {
		padding: 0;
		list-style-type: none;
	}
}

