@forward 'root';
@use 'root' as *;
@use 'theme';

/**** Layout > elements > custom ****/

.embed {
	--video--width: 1920;
	--video--height: 1080;

	position: relative;
	padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
	max-width: 100%;
	background: none;
	margin: $regular auto;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: var(--shadow) !important;
		border-radius: $radius-l !important;
	}
}

lite-youtube {
	margin: auto !important;
	box-shadow: var(--shadow) !important;
	article & {
		border-radius: $radius-l !important;
	}
}

.button {
	padding: $small $regular;
	font-size: $big;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: $radius-m;
	box-shadow: var(--btn-shadow);
	text-align: center;
	hyphens: none;
	&:hover,
	&:focus {
		box-shadow: var(--focus-shadow) !important;
	}
	&:active {
		box-shadow: var(--inner-shadow) !important;
	}
	&.margin {
		margin: $regular;
	}
	&.small {
		padding: $tiny $regular-less;
		font-size: $big;
		border-radius: $radius-s;
	}
	&.tiny {
		padding: 1px $small;
		font-size: $regular-less;
		border-radius: 4px;
	}
	svg &,
	img & {
		height: $height;
		width: auto;
		padding: .35rem;
		background: var(--primary);
	}
}

.toolbar {
	position: fixed;
	bottom: 3vw;
	right: 4vw;
	z-index: 2;
	display: flex;
	gap: $tiny;
	.button {
		width: $height;
		height: $height;
		line-height: $height;
		padding: 0 $small;
		color: var(--text);
		background: var(--background);
		box-shadow: var(--tool-shadow);
	}
}

#navToggleBtn {
	&:active,
	&:hover,
	&:focus {
		box-shadow: var(--inner-shadow);
	}
}

.feed {
	h1,
	& main h2 {
		color: #FFF;
		text-shadow: var(--shadow);
	}
	img {
		border-radius: 100%;
	}
}

.box {
	background: var(--background);
	color: var(--text);
	padding: max(2vw, 3vh);
	border-radius: $radius-l;
	box-shadow: var(--shadow);
	&.little {
		border-radius: $radius-m;
		padding: $regular-less;
		p {
			font-size: .9em;
			font-weight: 300;
			line-height: 1.1;
			margin: $tiny;
		}
	}
	h2,
	h3 {
		margin: $small auto;
		text-align: center;
	}
	.anchor {
		display: none;
	}
	.box {
		padding: $regular-less;
		overflow: hidden; // some titles might overflow
		box-shadow: var(--little-shadow);
		border-radius: $radius-m;
	}
}

.post article > p:not(.cite):first-of-type::first-letter,
.cite:first-of-type + p::first-letter {
	-webkit-initial-letter: 4;
	font-weight: bolder;
	font-size: 8em;
	margin: $small $small 0 0;
	text-shadow: 2px 2px 0 var(--primary);
}

.tags {
	.flex {
		max-height: 30vh;
		overflow: scroll;
		-ms-overflow-style: none;
	}
}

#lang-filter {
	div {
		font-size: $bigger;
	}
}

#toc {
	z-index: 1;
}

.qsm {
	background: #E63946;
	.button {
		background: #1D3557;
	}
}

#sconnesso {
	background: linear-gradient(-45deg,#884EE177,#884EE122), var(--deep);
	.button {
		background:var(--purple);
		color:#FFF;
	}
	h2 {
		color: var(--purple);
		text-shadow: -15px -18px 2px #FFF, 8px 5px 1px #FFF, 60px -10px 5px #FFF, -40px -2px 3px #FFF;
		margin-bottom: $regular;
	}
}

#latest-post {
	position: relative;
}

#latest-post-sign {
	position: absolute;
	top: $regular-less;
	right: -($regular-less);
	z-index: 2;
	transform: rotate(10deg);
}

.metadata {
}

.mastodon-embed {
	margin: 0 auto;
	width: 100%;
	min-height: 200px;
	border: 0px;
	overflow: scroll;
	border-radius: $radius-m;
	box-shadow: var(--shadow);
}

.vertical {
	flex-direction: column;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: $small;
}

body:not(.poetry) .p-author {
	display: none;
}

.full {
	background: var(--primary);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	* {
		color: var(--background);
	}
}

.poetry {
	min-height: 100vh;
	background: var(--yellow);
	--text: var(--black-ish) !important;
	--tiny-shadow: 5px 5px 20px #11305B22, -5px -5px 20px #FFF3CC22 !important;
	color: var(--black-ish);
	padding: 5vw;
	.intro {
		max-width: 500px;
	}
	a {
		color: var(--dark-blue) !important;
	}
	ul {
		padding: 0;
		list-style-type: none;
	}
	article {
		margin: 0;
	}
}

