@use 'root' as *;

/**** Layout > elements > custom ****/

.embed {
	--video--width: 1920;
	--video--height: 1080;

	position: relative;
	padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
	max-width: 100%;
	background: none;
	margin: $regular auto;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: var(--shadow) !important;
		border-radius: $radius-l !important;
	}
}

lite-youtube {
	margin: auto !important;
	box-shadow: var(--shadow) !important;
	article & {
		border-radius: $radius-l !important;
	}
}

.button {
	display: inline-block;
	background: var(--background);
	padding: $small $regular;
	font-size: $big;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: $radius-m;
	box-shadow: var(--button-shadow);
	text-align: center;
	hyphens: none;
	&:hover,
	&:focus {
		box-shadow: none;
	}
	&:active {
		box-shadow: var(--inner-shadow);
	}
	form & {
		color: var(--text);
		border: none;
	}
}

svg.button,
img.button {
	height: $height;
	width: auto;
	padding: .35rem;
	margin: $tiny;
	background: var(--primary);
}

.smaller {
	padding: $tiny $regular-less;
	margin: $tiny;
	font-size: $big;
	border-radius: $radius-s;
}

.tiny {
	padding: 1px $small;
	margin: $tiny;
	font-size: $regular-less;
	border-radius: 4px;
}

.tool {
	position: fixed;
	bottom: 3vw;
	right: 4vw;
	z-index: 2;
	display: flex;
	.button {
		width: $height;
		height: $height;
		line-height: $height;
		padding: 0 $small;
		margin: $tiny;
		color: var(--text);
		fill: var(--text);
		background: var(--background) !important;
	}
}

#nav-toggle-button {
	&:active,
	&:hover,
	&:focus {
		box-shadow: var(--inner-shadow);
	}
}

.scrollToBottom {
	.button {
		transform: rotate(180deg);
		box-shadow: inset -2px -2px 4px #FFF8, inset 2px 2px 4px #0008;
		&:hover {
			box-shadow: none;
		}
		&:active {
			box-shadow: var(--button-shadow);
		}
	}
}

.feed {
	h1 {
		color: #FFF;
		text-shadow: var(--shadow);
	}
	.grid {
		margin: 0 3vw;
	}
	img {
		border-radius: 100%;
	}
}
.box {
	display: block;
	background: var(--background);
	max-width: 100%;
	color: var(--text);
	padding: $big;
	margin: $regular-less 3%;
	border-radius: $radius-l;
	box-shadow: var(--shadow);
	&.little {
		border-radius: $radius-m;
		padding: $small;
		background: var(--primary);
		margin: 2vw;
		a {
			color: var(--text);
			background: var(--background);
		}
	}
	.anchor {
		display: none;
	}
	h2,
	h3 {
		margin: 0 auto $small;
		text-align: center;
	}
	.written.button:not(.tiny) {
		margin: $small;
	}
	.grid &,
	.box {
		height: auto;
		margin: auto;
		padding: 3%;
		overflow: hidden; // some titles might overflow
		box-shadow: var(--little-shadow);
		p {
			font-size: .8em;
			font-weight: 300;
			line-height: 1.1;
			margin: $small;
		}
	}
	.box {
		margin: $small;
	}
}

.post article > p:not(.cite):first-of-type::first-letter,
.cite:first-of-type + p::first-letter {
	-webkit-initial-letter: 4;
	font-weight: bolder;
	float: left;
	font-size: 8em;
	margin: $small $small 0 0;
	text-shadow: 2px 2px 0 var(--yellow);
}

.zibaldone {
	.box {
		max-height: 99vh;
		overflow: scroll;
		-ms-overflow-style: none;
	}
}

.tags {
	padding: $small $tiny;
	h2 {
		a {
			color: var(--text);
		}
		//margin: 0;
	}
	.flex {
		max-height: 30vh;
		overflow: scroll;
		-ms-overflow-style: none;
	}
}

#lang-filter {
	font-size: $bigger;
}

#toc {
	z-index: 3;
	h3 {
		margin: 0;
	}
	li {
		line-height: 1;
	}
	ul,
	ol {
		padding-left: $regular-more;
	}
}

#help {
	position: fixed;
	z-index: 7;
	width: 20rem;
}

#latest-post {
	position: relative;
}

#latest-post-sign {
	position: absolute;
	top: $regular-less;
	right: -($regular-less);
	z-index: 2;
	transform: rotate(10deg);
}

.excerpt {
	display: block;
	margin: $small 10%;
	font: italic .85em var(--font-sans);
	line-height: 1.5;
}

.metadata {
	line-height: 1.1;
	opacity: .8;
}

.mastodon-embed {
	margin: 0 auto;
	width: 100%;
	min-height: 200px;
	border: 0px;
	overflow: scroll;
	border-radius: $radius-m;
	box-shadow: var(--shadow);
}

.table {
	max-height: 90vh;
	overflow: scroll;
	margin: $height 3vw;
	border: 3px solid var(--text);
	border-radius: $radius-l;
	box-shadow: var(--shadow);
	table {
		width: 100%;
	}
}

.invalid-wikilink {
	opacity: .5;
	cursor: url(/cursor-forbidden.svg) 16 16, not-allowed;
}

.flex {
	display: flex !important;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	p {
		max-width: 700px;
	}
}

.vertical {
	flex-direction: column;
	height: 100%;
}

.collapsible-supercontainer {
	&:hover .collapsible-container {
		grid-template-rows: 1fr;
	}
}
.collapsible-container {
	display: grid;
	grid-template-rows: 0fr;
	.collapsible-element {
		overflow: hidden;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: $regular-less;
	h3 {
		text-align: center;
	}
}

#changelog .grid p {
	margin: $tiny 0 0 0;
}

.library {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	grid-gap: $tiny;
	img,
	a div {
		font: .5em var(--font-serif);
		text-align: center;
		color: #E1DCC5;
		background: linear-gradient(-30deg, #39281E, #4E3C2B);
		margin-top: 15%;
		border-radius: $radius-s;
		box-shadow: var(--tiny-shadow);
		min-height: 75%;
	}
}

.p-author {
	display: none;
}

.full {
	background: var(--primary);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	a:hover {
		transform: none;
	}
	* {
		color: var(--background);
	}
	h1 {
		font-size: 8rem;
		max-width: 100%;
		hyphens: auto;
		line-height: 1;
		text-shadow: none;
		margin: $regular-less auto;
	}
}

.poetry {
	min-height: 100vh;
	background: var(--yellow);
	--text: var(--black-ish) !important;
	--tiny-shadow: 5px 5px 20px #11305B22, -5px -5px 20px #FFF3CC22 !important;
	color: var(--black-ish);
	padding: 5vw;
	.intro {
		max-width: 500px;
	}
	a {
		color: var(--dark-blue) !important;
	}
	ul {
		padding: 0;
		list-style-type: none;
	}
	h1 {
		text-shadow: none;
		margin: 0;
		text-align: left;
	}
	article {
		margin: 0;
	}
}

.dim {
	opacity: .5;
}

.transparent {
	opacity: 0;
}

