@use 'root' as *;

footer {
	margin: 3vw;
	padding: $big;
	border-radius: $radius-l;
	background: var(--background);
	box-shadow: var(--shadow);
	text-align: center;
	justify-content: space-evenly;
	gap: $small;
	* {
		gap: inherit;
	}
	p {
		font-size: var(--size--1);
		line-height: 1.2;
		margin: var(--space-2xs) auto;
		max-width: 100%;
	}
}

#social {
	.button {
		width: var(--space-l);
		height: var(--space-l);
		padding: var(--space-3xs);
		svg {
			height: 100%;
			width: auto;
		}
	}
}

#Mastodon {
	background: linear-gradient(#6364FF, #563ACC);
}

#Matrix {
 background: #000;
}

#Telegram {
	background: linear-gradient(#1D93D2, #38B0E3);
	padding: 0;
}

#GitHub {
	background: #24292F;
}

#feedBtn {
	color: #FFF;
	background: linear-gradient(-18deg, #E3702DFF 0%, #EA7D31FF 11%, #F69537FF 35%, #fB9E3AFF 50%, #EA7C31ff 70%, #DE642BFF 89%, #D95B29FF 100%);
	svg {
		height: var(--space-s);
		width: auto;
	}
}

#madeby {
	&:hover #madeby_shadow {
		display: none;
	}
}

