@use 'root' as *;

footer {
	--primary: var(--yellow);
	display: grid;
	padding: var(--space-3xl) var(--space-l);
	color: #EEE;
	background: #000;
	justify-content: space-evenly;
	place-items: center;
	p {
		font-size: var(--size--1);
		line-height: 1.2;
	}
	.h-card {
		align-content: flex-start;
		max-width: 15rem;
	}
}

#Mastodon {
	background: linear-gradient(#6364FF, #563ACC);
}

#Matrix {
 background: #000;
}

#Telegram {
	background: linear-gradient(#1D93D2, #38B0E3);
}

#GitHub {
	background: #24292F;
}

#feedBtn {
	color: #FFF;
	background: linear-gradient(-18deg, #E3702DFF 0%, #EA7D31FF 11%, #F69537FF 35%, #fB9E3AFF 50%, #EA7C31ff 70%, #DE642BFF 89%, #D95B29FF 100%);
	svg {
		height: var(--space-s);
		width: auto;
	}
}

#madeby {
	&:hover #madeby_shadow {
		display: none;
	}
}

