#menutoggle,
.langFilter {
	display: none;
}

#langFilter-en:checked {
	& ~ div[lang='en'] {
		display: block
	}
	& ~ div[lang='it'],
	& ~ div[lang='fr'] {
		display: none;
	}
}

#langFilter-it:checked {
	& ~ div[lang='it'] {
		display: block
	}
	& ~ [lang='en'],
	& ~ [lang='fr'] {
		display: none;
	}
}

#langFilter-fr:checked {
	& ~ div[lang='fr'] {
		display: block
	}
	& ~ [lang='en'],
	& ~ [lang='it'] {
		display: none;
	}
}
