@use 'root' as *;

.landing {
	overflow-x: hidden;
	.vertical {
		height: 100vh;
	}
	h1 {
		padding: var(--space-m) var(--space-xl);
		animation: pulse 1s infinite;
	}
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

