@use 'root';

header {
	height: root.$mega;
	text-transform: uppercase;
	* {
		border-radius: root.$radius-m;
		list-style-type: none !important;
		font-weight: 700 !important;
		z-index: 9;
	}
}

#home {
	position: fixed;
	top: 1.5vw;
	left: 5vw;
	padding: 0 root.$regular-less;
	line-height: root.$height; 
	font-size: root.$bigger;
	color: var(--black-ish);
	background: var(--yellow);
	box-shadow: var(--shadow);
	border: 2px solid var(--black-ish);
	animation: crazy 5s infinite;
	&:hover,
	&:focus {
		color: #FFF !important;
		background: var(--red) !important;
		border-color: #FFF !important;
	}
	&:target {
		color: var(--primary);
	}
}

@keyframes crazy {
	0% {
		transform: rotate(0deg) scale(1.1) skew(0deg);
	}
	20% {
		transform: scale(1.3) skew(-8deg);
	}
	40% {
		transform: rotate(12deg) scale(.8) skew(15deg);
	}
	60% {
		transform: skew(-10deg) rotate(2deg) scale(1.1);
	}
	80% {
		transform: rotate(-5deg) scale(1.6) skew(6deg);
	}
	100% {
		transform: rotate(0deg) scale(1.1) skew(0deg);
	}
}

#nav {
	position: fixed;
	top: 1.5vw;
	right: 6vw;
	text-align: right;
	padding: 0 root.$small;
	box-shadow: var(--shadow);
	background: var(--background);
	* {
		margin: 0 !important;
	}
	.current {
		opacity: .5;
	}
	ul,
	menu {
		padding: 0;
		li {
			float: left;
			a,
			label {
				display: block;
				color: var(--text) !important;
				line-height: root.$height;
				height: root.$height;
				padding: 0 root.$small;
				font-size: root.$regular-more;
				font-weight: 700;
				&::after {
					content: none;
				}
				&:hover,
				&:focus{
					transform: scale(1.1) rotate(3deg);
					filter: none;
					border-bottom: none;
				}
				&:active {
					opacity: .6;
				}
				&::before {
					content: none !important;
				}
			}
		}
	}
}

#nav-toggle-button {
	display: none;
}

@media only screen and (max-width: 950px) {
	#home {
		left: 50%;
		margin-left: -7.5rem;
		top: 2vh;
		text-align: center;
	}
	header {
		margin: 3vh;
	}
	#nav-toggle-button {
		display: block;
	}
	menu {
		position: fixed;
		width: 13rem;
		bottom: calc(3vh + 4.5rem);
		right: -14rem;
		background: var(--black-ish);
		box-shadow: var(--shadow);
		z-index: 9;
		border: 5px solid var(--background);
		overflow: hidden;
	}
	#nav menu li,
	#nav ul li {
		float: none;
		border-radius: 0 !important;
		&:nth-child(odd) {
			background: var(--black-ish);
			a {
				color: var(--white) !important;
			}
		}
		&:nth-child(even) {
			background: var(--yellow);
			a {
				color: var(--black-ish) !important;
			}
		}
		a,
		label {
			padding: 0 root.$regular-more;
		}
	}
}

#menutoggle:checked {
	& ~ menu {
		right: calc(4vw + .3rem);
	}
}
