@use 'root' as *;

/** Text **/

::selection {
	color: var(--black-ish);
	background: var(--yellow);
}

p {
	max-width: max(50%, 50em);
	line-height: 1.7;
	margin: $regular-less auto;
}

strong,
b {
	font-weight: 800;
}

u {
	text-decoration-color: var(--transp-text) !important;
}

mark {
	background: var(--primary);
	color: var(--background);
	font-weight: 500;
}

hr {
	width: 30%;
}

address{
	display: inline;
}

li {
	line-height: 1.5;
	margin-bottom: $small;
	ol {
		list-style-type: lower-alpha;
		ol {
			list-style-type: lower-latin;
		}
	}
}

h1, h2, h3 {
	font-family: var(--font-heading);
	line-height: 1;
}

h4, h5, h6 {
	text-transform: uppercase;
	line-height: 1;
	hyphens: none;
	margin: 0;
}


h1 {
	font-size: $mega;
	color: var(--text);
	text-align: center;
	margin: 8vh 3vw 0;
	text-shadow: var(--tiny-shadow);
	&:hover {
		transform: rotate(-3deg);
	}
}

h2 {
	font-size: 2.5rem;
	.anchor::after {
		content: '##';
	}
	&.shadow {
		text-shadow: var(--tiny-shadow);
	}
}

h3 {
	font-size: 2rem;
	.anchor::after {
		content: '###';
	}
}

h4 {
	color: var(--slight);
}

pre,
code,
kbd,
samp {
	font: 400 1em var(--font-mono);
}

pre {
	padding: $regular;
	border-radius: $radius-m;
	white-space: pre-wrap;
	background: var(--dark-blue);
	color: var(--white);
}

blockquote {
	margin: 0 3vw;
	padding: 0;
	font: 1em var(--font-serif);
	opacity: .9;
	p {
		line-height: 1.5;
	}
}

td,
th,
tr {
	border: none;
	outline: solid .5px var(--slight);
}

th {
	padding: $small $regular-less;
	position: sticky;
	top: 0;
	background: var(--background);
}

td {
	font-size: .8em;
	padding: $tiny $small;
}

table {
	border-collapse: collapse;
}

/*** Text > custom classes ***/

.header-anchor {
	color: var(--text);
	&:hover {
		border-bottom: 2px solid var(--primary);
		&::before {
			content: '🔗';
			position: absolute;
			left: -($twice);
			transform: scale(.8);
		}
	}
}

.double,
.thick {
	text-decoration-thickness: 5px !important;
	text-decoration-skip-ink: none;
	text-decoration-color: var(--primary) !important;
}

.serif {
	font-family: var(--font-serif);
	p {
		line-height: 1.3;
	}
}

.mono {
	font-family: var(--font-mono);
}

.wavy {
	text-decoration-style: wavy;
}

.center {
	text-align: center;
}

.right,
.date {
	text-align: right;
}

.citation {
	color: var(--slight);
}

.footnotes {
	font-size: .8em;
	margin-top: $height;
}

.missing,
.bug,
.wtf {
	padding: 2px 5px;
	border-radius: $radius-s;
}

.missing,
.bug {
	background: var(--red);
	color: #FFF;
}

.wtf {
	background: var(--yellow);
	color: var(--black-ish);
}

.cite {
	text-align: right;
	line-height: 1;
	font-size: .9em;
	margin-left: 20%;
	&::before {
		content: '~ ';
	}
}

