@use 'root' as *;

#webrings {
	background: linear-gradient(70deg, rgba(255,0,0,0.3) 0%, rgba(255,165,0,0.3) 17%, rgba(255,255,0,0.3) 33%, rgba(0,128,0,0.3) 49%, rgba(0,0,255,0.3) 65%, rgba(75,0,130,0.3) 83%, rgba(238,130,238,0.3) 100%), var(--background);
}

#hotlinewebring {
	background: #FA9ABA;
	color: #000;
	border: 5px solid #BF0946;
	a {
		background: #BF0946;
		color: #FFF;
	}
	h3 a {
		color: #000;
		background: none;
	}
}

#indiewebring {
	background: #FFB100;
	color: #000;
	border: 5px solid #FF5C00;
	a {
		background: #F00;
		color: #FFF;
	}
	h3 a {
		color: #000;
		background: none;
	}
}

#safontwebring {
	background: #000;
	color: #FFF;
	border: 5px solid #2ECFCA;
	a {
		background: #FFF;
		color: #000;
	}
	h3 a {
		color: #2ECFCA;
		background: none;
	}
}

#cssjoywebring {
	background: hsl(170, 35%, 30%);
	color: #FFF;
	border: 5px solid hsl(325, 35%, 50%);
	a {
		background: #FFF;
		color: hsl(170, 35%, 30%);
	}
	h3 a {
		color: #FFF;
		background: none;
	}
}

#theclawwebring {
	background: #653393;
	border: 5px solid #48A1B9;
	h3 a {
		color: #7CA63E;
	}
}

#fediring {
	background: #FFF;
	border: 5px solid var(--blue);
	a {
		background: var(--yellow);
		color: #000;
	}
	h3 a {
		color: var(--red);
		background: none;
	}
}

#linuxring {
	background: #202020;
	border: 5px solid #F8BF11;
	a {
		background: #F8BF11;
		color: #202020;
	}
	h3 a {
		color: #FFF;
		background: none;
	}
}

#personalsites {
	background: #1F2123;
	border: 5px solid #FFF;
	a {
		background: #FFF;
		color: #1F2123;
	}
	h3 a {
		color: #FFF;
		background: none;
	}
}

#bucketwebring {
	background: linear-gradient(to right, #FFCACA 0%, #FFEDC1 20%, #FEFFB8 40%, #C4FFCB 60%, #ADD8FF 80%, #CCAFE9 100%);
	border: 5px solid #FFF;
	a {
		background: #FFF;
		color: #1F2123;
	}
	h3 a {
		color: #454545;
		background: none;
	}
}

#blogroll {
	background: linear-gradient(rgb(245,255,196), rgb(237,229,116));
	border: 5px solid #3EAF7C;
	h3 a {
		color: rgba(44, 62, 80, 1);
	}
}

