@forward 'root';
@use 'root' as *;

*,
::before,
::after {
	box-sizing: border-box;
	transition: $trans;
	scrollbar-color: var(--red) transparent;
}

body {
	margin: 0;
	color-scheme: dark;
	color: var(--text);
	font: var(--size-0) var(--font-sans);

	--background: #000;
	--alt-background: var(--black-ish);
	--text: var(--white);
	--deep: var(--dark-blue);
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--slight: var(--light-blue);
	--internal-link: var(--blue);
	--transp-text: #FFF4;
	--shadow: 5px 5px 20px #0009, -5px -5px 20px #FFF3CC15; 
	--little-shadow: 4px 4px 15px #0009, -3px -3px 12px #FFF3CC18; 
	--tiny-shadow: 2px 2px 3px #000000EF, -2px -2px 3px #FFF3CC22;
	--tool-shadow: inset 1px 1px 5px #FFF6, inset -1px -1px 5px #0006;
	--btn-shadow: inset 2px 2px 8px #FFF6, inset -2px -2px 8px #0006;
	--focus-shadow: inset 2px 2px 3px #FFF2, inset -2px -2px 3px #0002;
	--inner-shadow: inset 2px 2px 3px #0009, inset -2px -2px 3px #FFF7;
}

@media screen and (prefers-color-scheme: dark) {
	.light {
		filter: $invert-dark;
	}
}

/* LIGHT THEME */
@media screen and (prefers-color-scheme: light) {
	body {
		color-scheme: light;
		--background: #FFF;
		--alt-background: var(--background);
		--text: var(--black-ish);
		--deep: #FFF;
		--link: var(--primary);
		--primary: var(--red);
		--secondary: var(--blue);
		--slight: var(--dark-blue);
		--transp-text: #1113;
		--shadow: 5px 5px 20px #11305B22, -5px -5px 20px #FFF3CC22;
		--little-shadow: 4px 4px 15px #11305B10, -3px -3px 10px #FFF3CC22;
		--tiny-shadow: 1px 1px 4px #11305B33, -2px -2px 3px #FFF3CC77;
		--inner-shadow: inset 2px 2px 3px #0009, inset -2px -2px 3px #FFF7;
	}
	.dark {
		filter: $invert-light;
	}
}

/** Layout **/

/*** Layout > global ***/

main {
	display: grid;
	/*--grid-placement: auto-fit;
	--grid-min-item-size: clamp(16rem, 50vw, 26rem);
	grid-template-columns: repeat(
		var(--grid-placement, auto-fill),
		minmax(var(--grid-min-item-size, 16rem), 1fr)
	);*/
	gap: var(--space-s);
	padding: max(8vw, 10vh) max(2vw, 3vh) 0;
	margin: 0 auto;
	max-width: 100rem;
}

.subgrid {
	display: grid;
	grid-template-columns: subgrid;
	gap: max(2vw, 3vh)
}

/*** Layout > elements ***/

.wavyBackground {
	background: center / 100% 100% url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQ0MCcgaGVpZ2h0PSczNjAnIHZlcnNpb249JzEuMScgdmlld0JveD0nMCAwIDE0NDAgMzYwJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHByZXNlcnZlQXNwZWN0UmF0aW89J25vbmUnPjxnPjxwYXRoIGQ9J202NCAxNTdjMTMtMjQgMjEtNTAgMzMtNzUgMTEtMjUgMjctNDggNDktNjMgMTktMTIgNDEtMTYgNjItMTQgMjIgMS41IDQyIDguMyA2MiAxNyA0MCAxNyA3NyA0MyAxMjAgNTIgNTAgMTAgMTAyLTMuNiAxNTEtMjEgNDktMTcgOTctMzkgMTQ4LTQzIDcyLTYuMiAxNDIgMjEgMjEwIDQ1IDM0IDEyIDY4IDI0IDEwNCAzMCAzNSA2LjYgNzIgOCAxMDctMC4xMyA0My05LjkgODEtMzQgMTIyLTUxIDIwLTguNiA0MS0xNiA2My0xOCAyMi0yLjggNDQtMS4xIDY1IDcuMyAzMCAxMiA1NCAzOSA2NiA3MSAxMiAzMiAxMyA2OCA0IDEwMS05LjEgMzMtMjggNjItNTEgODUtMjQgMjMtNTMgNDAtODMgNTEtNjQgMjMtMTMzIDIxLTIwMCAxMS02Ny05LjEtMTMzLTI1LTIwMC0yNy0xMTItNC41LTIyMyAyNy0zMzUgMjktNjkgMS40LTEzOC04LjQtMjA3LTE0LTY5LTUuNy0xMzktNy4yLTIwNiAxMC0yMiA1LjYtNDMgMTMtNjUgMTUtMTEgMC42OC0yMi0wLjIyLTMzLTMuNi0xMS0zLjQtMjEtOS41LTI4LTE4LTEwLTEyLTE2LTI5LTE2LTQ1czMuNi0zMyA5LjktNDhjMTMtMzAgMzQtNTUgNDktODN6JyBmaWxsPScjRDAwJy8+PC9nPjwvc3ZnPg==');
}

dl {
	margin: 0;
}

dt {
	margin: var(--space-2xs) auto var(--space-xs);
}

a {
	text-decoration: none;;
	text-color: var(--primary);
}

a,
button,
label {
	cursor: var(--cursor-hover);
}

li {
	line-height: 1.5;
	margin-top: .5em;
	li {
		margin-top: 0;
	}
}

img {
	width: 100%;
	height: auto;
	// display: block;
	border-radius: $radius-l;
}

figure {
	margin: var(--space-m) auto;
	img {
		box-shadow: var(--shadow);
	}
}

figcaption {
	font-family: var(--font-serif);
	margin: var(--space-s) 10% 0;
	text-align: center;
}

audio,
.controlBar {
	width: 100%;
}

iframe {
	border: none;
}

button {
	margin: 0;
	padding: none;
	border: none;
	background: none;
}

input {
	border: none;
	background: var(--background);
	color: var(--text);
	border-radius: $radius-m;
	box-shadow: var(--inner-shadow);
	max-width: 100%;
	&::placeholder {
		opacity: .5;
	}
	&:focus,
	&:active,
	&:hover {
		border: solid 2px var(--text);
		outline: none;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: var(--space-xs);
}

.gap-2xs {
	gap: var(--space-2xs);
}

/* Responsive behavior */
@media only screen and (max-width: 950px) {
	.line {
		width: 20%;
	}
	.popup {
		left: 5vw;
	}
	#help {
		bottom: -15rem;
	}
	#latest-post-sign {
		top: -1rem;
		right: -1rem;
		transform: rotate(6deg);
	}
}

@media only screen and (min-width: 950px) {
	main {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		&.writing {
			grid-template-areas:
				'title title title title title title'
				'text text text text aside aside';
		}
	}
	.span-2,
	.one-third {
		grid-column: span 2;
	}
	.span-3,
	.half{
		grid-column: span 3;
	}
	.span-4,
	.two-thirds {
		grid-column: span 4;
	}
	.span-5 {
		grid-column: span 5;
	}
	.span-2-row {
		grid-row: span 2;
	}
	.span-3-row {
		grid-row: span 3;
	}
	.middle {
		grid-column: 2/-2;
	}
	hgroup {
		grid-area: title;
	}
	.curve {
		fill: var(--red);
		height: var(--space-l);
		width: 100%;
	}
	.e-content {
		grid-area: text;
	}
	aside {
		grid-area: aside;
	}
	ul.two,
	ol.two {
		columns: 2;
	}
	ul.three,
	ol.three {
		columns: 3;
	}
	.wide {
		grid-column: 1/-1;
	}
	#toc {
		position: sticky;
		top: var(--space-2xl);
	}
}
