@forward 'root';
@use 'root' as *;

*,
::before,
::after {
	box-sizing: border-box;
	transition: $trans;
	scrollbar-color: var(--red) transparent;
}

body {
	margin: 0;
	min-height: 100vh;
	color-scheme: dark;
	color: var(--text);
	font: var(--size-0) var(--font-sans);
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDgwMCA4MDAiPjxwYXRoIGZpbGw9IiNGQ0M5MjAiIGQ9Im0wIDAgODAwIDgwMFY3MDBMMTAwIDB6bTIwMCAwIDYwMCA2MDBWNTAwTDMwMCAwem0yMDAgMCA0MDAgNDAwVjMwMEw1MDAgMHptMjAwIDAgMjAwIDIwMFYxMDBMNzAwIDB6TTAgMjAwbDYwMCA2MDBoMTAwTDAgMTAwem0wIDIwMCA0MDAgNDAwaDEwMEwwIDMwMHptMCAyMDAgMjAwIDIwMGgxMDBMMCA1MDB6bTAgMjAwaDEwMEwwIDcwMHoiLz48L3N2Zz4='), #000;

	--background: #000;
	--alt-background: var(--black-ish);
	--text: var(--white);
	--deep: var(--dark-blue);
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--slight: var(--light-blue);
	--internal-link: var(--blue);
	--transp-text: #FFF4;
	--shadow: 5px 5px 20px #0009, -5px -5px 20px #FFF3CC15; 
	--little-shadow: 4px 4px 15px #0009, -3px -3px 12px #FFF3CC18; 
	--tiny-shadow: 2px 2px 3px #000000EF, -2px -2px 3px #FFF3CC22;
	--tool-shadow: inset 1px 1px 5px #FFF6, inset -1px -1px 5px #0006;
	--btn-shadow: inset 2px 2px 8px #FFF6, inset -2px -2px 8px #0006;
	--focus-shadow: inset 2px 2px 3px #FFF2, inset -2px -2px 3px #0002;
	--inner-shadow: inset 2px 2px 3px #0009, inset -2px -2px 3px #FFF7;
}

@media screen and (prefers-color-scheme: dark) {
	.light {
		filter: $invert-dark;
	}
}

/* LIGHT THEME */
@media screen and (prefers-color-scheme: light) {
	body {
		color-scheme: light;
		--background: #FFF;
		--alt-background: var(--background);
		--text: var(--black-ish);
		--deep: #FFF;
		--link: var(--primary);
		--primary: var(--red);
		--secondary: var(--blue);
		--slight: var(--dark-blue);
		--transp-text: #1113;
		--shadow: 5px 5px 20px #11305B22, -5px -5px 20px #FFF3CC22;
		--little-shadow: 4px 4px 15px #11305B10, -3px -3px 10px #FFF3CC22;
		--tiny-shadow: 1px 1px 4px #11305B33, -2px -2px 3px #FFF3CC77;
		--inner-shadow: inset 2px 2px 3px #0009, inset -2px -2px 3px #FFF7;
	}
	.dark {
		filter: $invert-light;
	}
}

/** Layout **/

/*** Layout > global ***/

main {
	display: grid;
	gap: var(--space-s);
	padding: var(--space-s);
	margin: 0 auto;
	max-width: 100rem;
}

.subgrid {
	display: grid;
	grid-template-columns: subgrid;
	gap: max(2vw, 3vh)
}

/*** Layout > elements ***/

.wavyBackgroundRazzmatazz {
	background: center / 100% 100% url("data:image/svg+xml;utf8,<svg width='1440' height='360' preserveAspectRatio='none' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='m145 38c260-97 287 142 395 158 128 19-211-225 80-188 191 24 161 123 391 16 89-41 73 146 200 56 272-191 239 21 195 156-64 196-85 93-176 68-52-14-205 44-335 43-94-0.57 2.3-108-275-4.1-100 38-195-102-305-107-114-5.8 68 125-87 111-338-31-228-255-83-310z' fill='%23EC0868'/></svg>");
}

.wavyBackgroundPurple {
	background: center / 100% 100% url("data:image/svg+xml;utf8,<svg width='1440' height='360' preserveAspectRatio='none' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='m31 39c91-87 245 74 369 61 85-9 138-86 238-94 149-13-3.2 126 99 113 95-12 56-108 506-106 86 0.52 194 34 191 177-1.3 85-98 254-241 107-115-117-145 45-406 48-123 1.4-244-26-367-27-107-0.61-214 35-319 20-76-11-144-92-53-133 66-30-58-128-18-166z' fill='%237400BE'/></svg>");
}

.wavyBackgroundRed {
	background: center / 100% 100% url("data:image/svg+xml;utf8,<svg width='1440' height='360' preserveAspectRatio='none' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='m221 6c162-9 176 48 266 46 69-1 103-36 202-43 146-13 269 105 423 75 82-19 118-86 209-68 109 22 116 126 113 178-5 82-62 155-161 159-159 6-187-32-338-40-113-3-171 34-283 35-69 0.6-199-20-299-20-102 0.09-209 43-305 21-71-20-51-166 38-206 65-29 26-131 136-137z' fill='%23D00'/></svg>");
}

.no-background {
	color: #FFF;
	text-shadow: var(--shadow);
}

.dim {
	opacity: .6;
}

dl {
	margin: 0;
	dt {
		white-space: nowrap;
	}
	dd {
		margin: 0 0 0 var(--space-3xs);
		.alias {
			padding: 0 var(--space-3xs);
			border-radius: $radius-s;
			background: var(--background);
			white-space: nowrap;
		}
	}
	div {
		margin-top: var(--space-2xs);
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
}

a {
	color: var(--primary);
	text-decoration: none;
	p &,
	li & {
		text-decoration: underline;
		&:hover {
			text-decoration-color: var(--blue);
		}
	}
}

a,
button,
label {
	cursor: var(--cursor-hover);
}

li {
	line-height: 1.5;
	margin-top: .5em;
	li {
		margin-top: 0;
	}
}

img {
	width: 100%;
	height: auto;
	border-radius: $radius-l;
}

figure {
	margin: 0;
	img {
		box-shadow: var(--shadow);
	}
}

figcaption {
	font-family: var(--font-serif);
	margin: var(--space-s) 10% 0;
	text-align: center;
}

audio,
.controlBar {
	width: 100%;
}

iframe {
	border: none;
}

button {
	margin: 0;
	padding: none;
	border: none;
	background: none;
}

input {
	font-size: var(--size-0);
	background: var(--background);
	color: var(--text);
	border: solid 2px var(--text);
	border-radius: $radius-s;
	max-width: 100%;
	&::placeholder {
		opacity: .5;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: var(--space-xs);
}

.gap-2xs {
	gap: var(--space-2xs);
}

/* Responsive behavior */
@media only screen and (max-width: 950px) {
	.line {
		width: 20%;
	}
	.popup {
		left: 5vw;
	}
	#latest-post-sign {
		top: -1rem;
		right: -1rem;
		transform: rotate(6deg);
	}
}

@media only screen and (min-width: 950px) {
	main,
	footer {
		grid-template-columns: repeat(6, 1fr);
		align-items: center;
		&.writing {
			align-items: unset;
			grid-template-areas:
				'title title title title title title'
				'. tags tags tags tags .'
				'. text text text text .';
			&:has(aside) {
				grid-template-areas:
					'title title title title title title'
					'text text text text aside aside';
			}
		}
		&.list {
			grid-template-areas:
				'title title title title title title'
				'. text text text text .'
				'aside aside aside aside aside aside'
				'entries entries entries entries entries entries'
		}
	}
	.span-2,
	.one-third {
		grid-column: span 2;
	}
	.span-3,
	.half{
		grid-column: span 3;
	}
	.span-4,
	.two-thirds {
		grid-column: span 4;
	}
	.span-5 {
		grid-column: span 5;
	}
	.span-2-row {
		grid-row: span 2;
	}
	.span-3-row {
		grid-row: span 3;
	}
	.middle {
		grid-column: 2/-2;
	}
	hgroup {
		grid-area: title;
	}
	.curve {
		fill: var(--red);
		height: var(--space-l);
		width: 100%;
	}
	#tags {
		grid-area: tags;
	}
	.e-content {
		grid-area: text;
	}
	aside {
		grid-area: aside;
	}
	.entries-list {
		grid-area: entries;
		grid-template-rows: masonry;
	}
	ul.two,
	ol.two {
		columns: 2;
	}
	ul.three,
	ol.three {
		columns: 3;
	}
	.wide {
		grid-column: 1/-1;
	}
	#toc {
		position: sticky;
		top: var(--space-3xl);
		.toc {
			max-height: calc(100vh - var(--space-3xl));
			overflow: scroll;
		}
	}
}
