* {
	scrollbar-color: #FFF #0000;
}

body {
	--background: #ECECEC;
	--text: #FFF;
	font-family: Helvetica, 'Helvetica Neue', 'Inter V', sans-serif;
	line-break: loose;
	cursor: auto;
	background: linear-gradient(135deg, #9DB5C1, #415462);
}

.box {
	--text: #415462;
	box-shadow: 5px 5px 20px #41526299, -5px -5px 20px #FFFFFF22;
}

h1 {
	text-transform: uppercase;
	font-size: var(--size-5);
	margin: var(--space-3xl) auto 0;
	padding: 0;
	& + h2 {
		font-size: var(--size-3);
		font-weight: 400;
		text-align: center;
		margin: 0 auto;
		color: #D8E9F0;
		text-shadow: 1px 1px 7px #415462AA;
	}
}

h1, h2, h3 {
	font-family: var(--font-sans);
}

.button {
	color: #FFF;
	background: linear-gradient(120deg, #9DB5C1, #415462);
}

p {
	text-align: center;
}

