$radius-s: .4rem;
$radius-m: .8rem;
$radius-l: 1.5rem;
$border: 10px;
$trans: .5s ease-out;
$trans-quick: .1s ease-in-out;

$invert-light: grayscale(.5) invert(.9) brightness(.95) hue-rotate(180deg);
$invert-dark: grayscale(.1) invert(1) brightness(1.1) hue-rotate(180deg);

@use 'fonts/keep-on-truckin';
@use '../node_modules/utopia-core-scss/src/utopia' as utopia;

:root {
	@include utopia.generateTypeScale((
		'minWidth': 320,
		'maxWidth': 1350,
		'minFontSize': 16,
		'maxFontSize': 20,
		'minTypeScale': 1.3,
		'maxTypeScale': 1.4,
		'positiveSteps': 5,
		'negativeSteps': 2,
		'prefix': 'size-',
	));
	@include utopia.generateSpaceScale((
    'minWidth': 320,
    'maxWidth': 1350,
    'minSize': 16,
    'maxSize': 22,
    'positiveSteps': (1.5, 2.2, 2.5, 4, 6, 18),
    'negativeSteps': (0.75, 0.5, 0.25),
    'prefix': 'space-',
  ));

	--black-ish: #001E15;
	--white: #E3E3E3;
	--yellow: #FCC920;
	--blue: #53B9FF;
	--dark-blue: #11305B;
	--light-blue: #A6FFE5;

	--red: #D00;
	--green: #2EC27E;
	--dark-green: #032B1E;
	--razzmatazz: #EC0868;
	--purple: #884EE1;
	--orange: #FF6024;

	--font-sans: 'Inter V', Inter, system-ui, -apple-system, sans-serif;
	--font-heading: 'Keep on Truckin', var(--font-sans);
	--font-serif: 'Garamond Libre', 'EB Garamond', Garamond, 'Simoncini Garamond', Merriweather, serif;
	--font-mono: 'Ubuntu Mono', ui-monospace, monospace;

	--cursor: url("data:image/svg+xml;utf8,<svg width='32' height='32' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='16' cy='16' r='7' fill='%23FFF' stroke='%23000' stroke-width='5'/></svg>") 16 16, crosshair;
	--cursor-hover: url("data:image/svg+xml;utf8,<svg width='32' height='32' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='16' cy='16' r='16' fill='%23D00'/><circle cx='16' cy='16' r='7' fill='%23D00' stroke='%23FFF' stroke-width='5'/></svg>") 16 16, pointer;
}

html {
	color-scheme: light dark;
	tab-size: 2;
	text-size-adjust: none;
	scroll-behavior: smooth;
	cursor: var(--cursor);
	background: #000;
}

