@use 'parts/normalize';
@use 'fonts/inter';
@use 'fonts/ubuntu-mono';
@use 'fonts/eb-garamond';
@use 'parts/root';
@use 'parts/nav';
@use 'parts/links-emojis';
@use 'parts/tags';
@use 'parts/commento';
@use 'parts/temporary';
@use 'parts/search';
@use 'parts/syntax-highlight';
@use 'parts/lite-youtube-embed';

html {
	scroll-behavior: smooth;
	background: url(/cantiere.svg), #000;
	cursor: url(/cursor.svg) 16 16, crosshair;
}

/* DARK THEME */
body {
	color-scheme: dark;
	background: var(--black-ish);
	color: var(--text);
	overflow-wrap: break-word;
	hyphens: auto;
	font: root.$regular var(--font-sans);

	--background: var(--black-ish);
	--text: var(--white);
	--deep: var(--dark-blue);
	--link: var(--primary);
	--primary: var(--yellow);
	--secondary: var(--blue);
	--slight: var(--light-blue);
	--internal-link: var(--blue);
	--grey: var(--dark-grey);
	--other-grey: var(--light-grey);
	--transp-text: #FFF4;
	--shadow: 5px 5px 20px #0009, -5px -5px 20px #FFF3CC15; 
	--opposite-shadow: -5px -5px 20px #0001, 5px 5px 20px #FFFC;
	--little-shadow: 4px 4px 15px #0009, -3px -3px 12px #FFF3CC18; 
	--tiny-shadow: 2px 2px 3px #000000EF, -2px -2px 3px #FFF3CC22;
	--tool-shadow: 3px 3px 8px #000A, -3px -3px 8px #FFF3CC11;
	--button-shadow: inset 2px 2px 4px #FFF3CC88, inset -2px -2px 4px #0008;
	--inner-shadow: inset 3px 3px 5px #0008, inset -3px -3px 5px #FFF3CC22;
	--inner-little-shadow: inset 2px 2px 4px #0008, inset -2px -2px 3px #FFF3CC11;

	transition: root.$trans;

}

/* LIGHT THEME */
@media screen and (prefers-color-scheme: light) {
	body {
		color-scheme: light;
		--background: #FFF;
		background: var(--background);
		--text: var(--black-ish);
		--deep: #FFF;
		--link: var(--primary);
		--primary: var(--red);
		--secondary: var(--blue);
		--slight: var(--dark-blue);
		--grey: var(--light-grey);
		--other-grey: var(--dark-grey);
		--transp-text: #11305B33;
		--shadow: 5px 5px 20px #11305B22, -5px -5px 20px #FFF3CC22;
		--opposite-shadow: -5px -5px 20px #0006, 5px 5px 20px #FFF3;
		--little-shadow: 4px 4px 15px #11305B10, -3px -3px 10px #FFF3CC22;
		--tiny-shadow: 1px 1px 4px #11305B33, -2px -2px 3px #FFF3CC77;
		--inner-shadow: inset 3px 3px 5px #11305B55, inset -3px -3px 5px #FFF3CC22;
		--inner-little-shadow: inset 2px 2px 3px #11305B22, inset -2px -2px 3px #FFF3CC33;

		transition: root.$trans;
	}
	.dark {
		filter: var(--invert-dark);
		box-shadow: var(--opposite-shadow);
	}
}

@media screen and (prefers-color-scheme: dark) {
	.light {
		filter: var(--invert);
		box-shadow: var(--opposite-shadow);
	}
}

.cantiere {
	margin: 3vw;
	border-radius: root.$radius-l;
	box-shadow: 5px 5px 2.5vw #000C;
}

* {
	transition: root.$trans, transform root.$trans-quick, box-shadow root.$trans-quick, text-shadow root.$trans-quick, border root.$trans-quick;
	scrollbar-color: var(--red) transparent;
}

.row {
	&::before,
	&::after {
		display: table;
		content: '';
		clear: both;
	}
}

address{
	display: inline;
}

mark {
	background: var(--primary);
	color: var(--background);
	font-weight: 500;
}

span.citation {
	color: var(--slight);
}

.double,
.thick {
	text-decoration-thickness: 5px !important;
	text-decoration-skip-ink: none;
	text-decoration-color: var(--primary) !important;
}

.wavy {
	text-decoration-style: wavy;
}

::selection {
	color: var(--black-ish);
	background: var(--yellow);
}

.dim {
	opacity: .5;
}

.transparent {
	opacity: 0;
}

a {
	text-decoration: none;
	color: var(--link);
	&:hover,
	&:focus {
		box-shadow: none;
		text-shadow: none;
	}
	p &,
	li & {
		font-weight: 500;
		&:hover,
		&:focus {
			margin-bottom: -2px;
			border-bottom: 2px solid var(--primary);
		}
		&[href^='/'],
		&[href^='#'],
		&[href^='https://tommi.space' i] {
			color: var(--internal-link);
			&::after {
				height: 0%;
			}
		}
	}
	&.box {
		&:hover {
			box-shadow: none !important;
		}
		&:active {
			box-shadow: var(--inner-shadow);
		}
	}
}

a,
button,
.button,
label {
	cursor: url(/cursor-hover.svg) 16 16, pointer;
}

input {
	border: none;
	background: var(--background);
	color: var(--text);
	border-radius: root.$radius-m;
	padding: root.$small root.$regular;
	box-shadow: var(--inner-shadow);
	font-size: root.$bigger;
	max-width: 100%;
	&::placeholder {
		color: var(--other-grey);
	}
	&:focus,
	&:active,
	&:hover {
		border: solid 2px var(--text);
		outline: none;
	}
	& ~ .button {
		margin-left: .5rem;
	}
}

.invalid-wikilink {
	opacity: .5;
	cursor: url(/cursor-forbidden.svg) 16 16, not-allowed;
}

.flex {
	display: flex !important;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	p {
		max-width: 700px;
	}
}

.vertical {
	flex-direction: column;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: root.$regular-less;
	h3 {
		text-align: center;
	}
	p {
		font-size: .8em;
		font-weight: 300;
		line-height: 1.3;
		margin: 5%;
	}
	.box {
		margin: 0;
		padding: 3%;
		overflow: hidden; // some titles might overflow
		box-shadow: var(--little-shadow);
		/*height: 13rem;*/
	}
}

#changelog .grid p {
	margin: root.$tiny 0 0 0;
}

.library {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	grid-gap: root.$tiny;
	img,
	a div {
		font: .5em var(--font-serif);
		text-align: center;
		color: #E1DCC5;
		background: linear-gradient(-30deg, #39281E, #4E3C2B);
		margin-top: 15%;
		border-radius: root.$radius-s;
		box-shadow: var(--tiny-shadow);
		min-height: 75%;
	}
}

li {
	line-height: 1.5;
	margin-bottom: root.$small;
	ul {
		li {
			margin-bottom: 0;
			list-style-type: '–  ';
			ul {
				list-style-type: '+  ';
			}
		}
	}
	ol {
		list-style-type: lower-alpha;
		ol {
			list-style-type: lower-latin;
		}
	}
}

.task-list-item {
	list-style: none;
}

.task-list-item-checkbox {
	position: relative;
	right: root.$regular-less;
	width: root.$regular;
	height: root.$regular;
}

.serif {
	font-family: var(--font-serif);
	p {
		line-height: 1.3;
	}
}

.post article > p:not(.cite):first-of-type::first-letter,
.cite:first-of-type + p::first-letter {
	-webkit-initial-letter: 4;
	font-weight: bolder;
	float: left;
	font-size: 8em;
	margin: .6rem .6rem 0 0;
	text-shadow: 2px 2px 0 var(--yellow);
}

main {
	position: relative;
}

hr {
	width: 30%;
}

.mono {
	font-family: var(--font-mono);
}

pre,
code,
kbd,
samp {
	font: 400 1em var(--font-mono);
}

pre {
	padding: root.$regular;
	border-radius: root.$radius-m;
	white-space: pre-wrap;
	background: var(--dark-blue);
	color: var(--white);
}

.missing,
.bug,
.wtf {
	padding: 2px 5px;
	border-radius: root.$radius-s;
}

.missing,
.bug {
	background: var(--red);
	color: #FFF;
}

.wtf {
	background: var(--yellow);
	color: var(--black-ish);
}

.cite {
	text-align: right;
	line-height: 1;
	font-size: .9em;
	margin-left: 20%;
	&::before {
		content: '~ ';
	}
}

blockquote {
	margin: 0 3vw;
	padding: 0;
	font: 1em var(--font-serif);
	opacity: .9;
	p {
		line-height: 1.5;
	}
}

td,
th,
tr {
	border: none;
	outline: solid .5px var(--slight);
}

th {
	padding: root.$small root.$regular-less;
	position: sticky;
	top: 0;
	background: var(--background);
}

td {
	font-size: .8em;
	padding: root.$tiny root.$small;
}

.table {
	max-height: 90vh;
	overflow: scroll;
	margin: root.$height 3vw;
	border: 3px solid var(--text);
	border-radius: root.$radius-l;
	box-shadow: var(--shadow);
	table {
		width: 100%;
	}
}

table {
	border-collapse: collapse;
}

.landing {
	margin: 0;
	background: none;
	height: 100vh;
	overflow-x: hidden;
	h1 {
		color: #FFF;
		font-weight: 800;
		margin: 0 root.$small root.$bigger;
		text-shadow: 2px 2px 5px #11305B33;
		background: var(--red);
		border: 5px solid #FFF;
		padding: 1vw 3vw;
		box-shadow: var(--shadow);
		border-radius: root.$radius-l;
		animation: pulse 1s infinite;
	}
	.button {
		color: #FFF;
		background: var(--dark-blue);
		margin: root.$tiny root.$regular-less;
	}
	.banner {
		position: fixed;
		bottom: 0;
		right: 0;
	}
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.one {
	width: 70%;
	margin-left: 15%;
}

.half {
	width: 50%;
}

.one-third {
	width: calc(100% / 3);
}

.two-thirds {
	width: calc(100% / 3 * 2);
}

.column {
	float: left;
}

img {
	max-width: 100%;
	display: block;
	border-radius: root.$radius-l;
	h2 &,
	h3 & {
		margin: auto;
		max-height: 9rem;
		border-radius: 0;
		max-width: 90%;
	}
	& + h2,
	& + h3 {
		margin-top: root.$regular-more;
	}
}

figure {
	margin: 0 auto;
	img {
		max-height: 100vh;
		box-shadow: var(--shadow);
		margin: 0 auto;
	}
	& + figure {
		margin-top: root.$bigger;
	}
	& + figure.column {
		margin: 0 0 0 root.$big;
		width: calc(50% - 1.6rem);
	}
}

figcaption {
	font: root.$regular var(--font-serif);
	margin: root.$regular-less 10% 0;
	color: var(--other-grey);
	text-align: center;
}


.full {
	background: var(--primary);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	a:hover {
		transform: none;
	}
	* {
		color: var(--background);
	}
	h1 {
		font-size: 8rem;
		max-width: 100%;
		hyphens: auto;
		line-height: 1;
		text-shadow: none;
		margin: 1rem auto;
	}
}

.poetry {
	background: var(--yellow);
	--text: var(--black-ish) !important;
	--tiny-shadow: 5px 5px 20px #11305B22, -5px -5px 20px #FFF3CC22 !important;
	color: var(--black-ish);
	.one {
		padding-bottom: 6vh;
	}
	a {
		color: var(--dark-blue) !important;
	}
	ul {
		padding: 0;
		list-style-type: none;
	}
	h1 {
		margin: 0 15vh root.$bigger;
		padding-top: root.$bigger;
		text-align: left;
	}
	code {
		box-shadow: none;
		padding: none;
	}
}

.center {
	text-align: center;
	h2 {
		color: var(--slight);
	}
}

.right,
.date {
	text-align: right;
}

.p-author {
	display: none;
}

p {
	line-height: 1.7;
	&.one.column {
		padding: 0 3vw;
	}
}

u {
	text-decoration-color: var(--transp-text) !important;
}

strong,
b {
	font-weight: 800;
}

.large {
	margin: 0 3vw;
	&.grid {
		margin: root.$big 3vw;
	}
}

article {
	position: relative;
	font-size: root.$regular-more;
	margin: root.$big 15vh;
	h2, h3 {
		margin: revert;
	}
	> .box {
		margin: root.$bigger 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	transition: root.$trans-quick;
	line-height: 1;
	hyphens: none;
	margin: 0;
}

.header-anchor {
	color: var(--text);
	&:hover {
		border-bottom: 2px solid var(--primary);
		&::before {
			content: '🔗';
			position: absolute;
			left: -2.2rem;
			transform: scale(.8);
		}
	}
}

.title {
	font-size: root.$twice;
}

h1 {
	font-size: root.$mega;
	color: var(--text);
	text-align: center;
	margin: 8vh 3vw 0;
	text-shadow: var(--tiny-shadow);
	&:hover {
		transform: rotate(-3deg);
	}
}

h2 {
	font-size: root.$bigger;
	.anchor::after {
		content: '##';
	}
}

h3 {
	font-size: root.$big;
	.anchor::after {
		content: '###';
	}
}

h4 {
	color: var(--slight);
}

.box {
	display: block;
	background: var(--background);
	max-width: 100%;
	color: var(--text);
	padding: root.$big;
	margin: root.$regular-less 3%;
	border-radius: root.$radius-l;
	box-shadow: var(--shadow);
	&.little {
		border-radius: root.$radius-m;
		padding: root.$small;
		background: var(--primary);
		margin: 2vw;
		a {
			color: var(--text);
			background: var(--background);
		}
	}
	.anchor {
		display: none;
	}
	h2,
	h3 {
		text-align: center;
	}
	h3 {
		margin: 0;
	}
	.written.button:not(.tiny) {
		margin: root.$regular-more root.$small;
	}
	img {
		& + h2,
		& + h3 {
			margin-top: root.$small;
		}
	}
}

.zibaldone {
	.box {
		max-height: 99vh;
		overflow: scroll;
		-ms-overflow-style: none;
	}
}

.tags {
	padding: root.$small root.$tiny;
	h2 {
		a {
			color: var(--text);
		}
		margin: 0;
	}
	.flex {
		max-height: 30vh;
		overflow: scroll;
		-ms-overflow-style: none;
	}
}

#lang-filter {
	font-size: root.$bigger;
}

#toc {
	h3 {
		text-shadow: var(--tiny-shadow);
		color: var(--slight);
		margin: 0;
	}
	a {
		color: var(--slight);
	}
	li {
		line-height: 1;
	}
	ul,
	ol {
		padding-left: 1.3rem;
	}
}

#help {
	position: fixed;
	z-index: 7;
	bottom: -16rem;
	width: 20rem;
	&:hover {
		bottom: 0;
	}
}

#latest-post {
	position: relative;
	h2.button {
		position: absolute;
		top: 1rem;
		right: -1rem;
		z-index: 2;
		transform: rotate(10deg);
	}
}

.excerpt {
	display: block;
	margin: root.$small 10%;
	font: italic .85em var(--font-sans);
	line-height: 1.5;
}

.metadata {
	line-height: 1.1;
	opacity: .8;
}

.footnotes {
	font-size: .8em;
	margin-top: root.$height;
}

footer {
	background: var(--background);
	padding: root.$big;
	margin: root.$bigger 3%;
	border-radius: root.$radius-l;
	box-shadow: var(--shadow);
	text-align: center;
	p a {
		color: var(--primary) !important;
	}
	> .row {
		justify-content: space-between;
	}
	h4 {
		margin-top: root.$regular;
		margin-bottom: 0;
	}
	h4 + p {
		margin-top: 0;
	}
}

audio,
.controlBar {
	width: 100%;
	box-shadow: var(--shadow);
	border-radius: root.$radius-m;
}

.written {
	--text: var(--background);
	color: var(--text);
	background: var(--primary);
}

.embed {
	lite-youtube,
	iframe {
		margin: auto !important;
		box-shadow: var(--shadow) !important;
		article & {
			border-radius: root.$radius-l !important;
		}
	}
}

button {
	margin: 0;
	padding: none;
	border: none;
	background: none;
}

svg.button,
img.button {
	height: root.$height;
	width: auto;
	padding: .35rem;
	margin: root.$tiny;
	background: var(--primary);
}

.button {
	display: inline-block;
	background: var(--background);
	padding: root.$small root.$regular;
	font-size: root.$bigger;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: root.$radius-m;
	box-shadow: var(--button-shadow);
	text-align: center;
	hyphens: none;
	&:hover,
	&:focus {
		box-shadow: none;
	}
	&:active {
		box-shadow: var(--inner-shadow);
	}
	form & {
		color: var(--text);
		border: none;
	}
}

.smaller {
	padding: root.$tiny root.$regular-less;
	margin: root.$tiny;
	font-size: root.$big;
	border-radius: root.$radius-s;
}

.tiny {
	padding: 1px root.$small;
	margin: root.$tiny;
	font-size: root.$regular-less;
	border-radius: 4px;
}

.tool {
	position: fixed;
	bottom: 3vw;
	right: 4vw;
	z-index: 2;
	display: flex;
	.button {
		width: root.$height;
		height: root.$height;
		padding: .5rem;
		margin: root.$tiny;
		color: var(--text);
	}
}

.lang-list {
	display: none;
	bottom: 3.7rem;
	position: absolute;
	background: var(--background);
	box-shadow: var(--shadow);
	#langtoggle:checked + & {
		display: block;
	}
}

#menutoggle,
#langtoggle {
	display: none;
}

.scrollToBottom {
	.button {
		transform: rotate(180deg);
		box-shadow: inset -2px -2px 4px #FFF8, inset 2px 2px 4px #0008;
		&:hover {
			box-shadow: none;
		}
		&:active {
			box-shadow: var(--button-shadow);
		}
	}
}

.tag {
	h2 {
		border-radius: root.$radius-m;
		padding: root.$small;
	}
	p {
		text-align: center;
	}
}

.green {
	color: var(--black-ish);
	background: var(--green) !important;
	border-color: var(--green) !important;
}

.red {
	color: #FFF;
	background: var(--red);
	border-color: var(--red) !important;
	--link: var(--yellow);
	--internal-link: var(--link);
}

.blue {
	color: #FFF;
	background: var(--blue);
	border-color: var(--blue) !important;
	--link: var(--yellow);
	--internal-link: var(--link);
	&::selection {
		background: #FFF;
		color: var(--blue);
	}
}

.dark-blue {
	color: #FFF;
	background: var(--dark-blue);
	border-color: var(--dark-blue) !important;
	--link: var(--yellow);
	--internal-link: var(--link);
}

.yellow {
	color: var(--black-ish);
	background: var(--yellow);
	border-color: var(--yellow) !important;
	--link: var(--red);
	--internal-link: var(--blue);
	::selection {
		background: var(--red);
		color: #FFF;
	}
}

.razzmatazz {
	color: #FFF;
	background: var(--razzmatazz);
	border-color: var(--razzmatazz) !important;
}

.border {
	color: var(--text) !important;
	background: var(--background) !important;
	border: 5px solid var(--text);
	--link: var(--primary) !important;
}

/* mobile display - responsive design */
@media only screen and (max-width: 950px) {
	.one,
	.half,
	.one-third,
	.two-thirds {
		width: 100%;
		margin: 0;
	}
	article {
		margin: root.$regular 3vw;
	}
	section h1 {
		font-size: root.$height;
	}
	.stuff-logo {
		margin-top: root.$bigger
	}
	.line {
		width: 20%;
	}
	.grid .box {
		margin: 0 3%;
		height: unset;
	}
	.tool {
		bottom: 3vh;
	}
	.popup {
		left: 5vw;
	}
	.newsletter {
		margin: 2vh 0;
	}
	#goto div {
		display: flex;
		overflow-x: scroll;
		-ms-overflow-style: none;
		a {
			margin-right: root.$small;
		}
	}
	#help {
		bottom: -15rem;
	}
	.box .column {
		& + .column h2,
		& + .column h3 {
			margin-top: root.$regular-more;
		}
	}
	footer {
		& > .row {
			justify-content: center;
		}
	}
	#toc,
	#goto {
		margin: 5vh 3vw 0;
	}
	#latest-post h2.button {
		top: 10rem;
		right: -6rem;
		transform: rotate(82deg);
	}
	.poetry {
		h1 {
			margin: 0 3vw root.$bigger;
		}
	}
}

@media only screen and (min-width: 950px) {
	.box .column {
		p,
		li {
			margin: root.$regular 10%;
		}
	}
	ul.two,
	ol.two {
		columns: 2;
	}
	ul.three,
	ol.three {
		columns: 3;
	}
	#toc {
		position: fixed;
		left: 4vw;
		bottom: 1vw;
		width: 18vw;
		font-size: 1rem;
		.post & {
			width: 23vw;
		}
	}
	#goto {
		position: fixed;
		width: 16rem;
		top: 30vh;
		left: -17rem;
		z-index: 8;
		&:hover,
		&:focus {
			left: 0;
		}
		a {
			transform: scale(.85);
			display: block;
		}
	}
}
